[2016-05-13 02:47] ihadeed commented on #174
Hey there

I'm just here to follow up with this issue.

Has it been resolved? Is it safe to use the encode/decode functions and not have the application crash?

Thank you.

[2016-05-13 02:51] rocifier commented on #214
Hmm okay so this isn't actually exactly what's happening...

If I enable the "Don't keep activities" setting in the General/Developer Options menu on my device, then I get the event.pendingResult as expected - the activity was actually destroyed. So this isn't working in the normal case where the activity is still alive in the background.

I'll keep you posted.

[2016-05-13 03:29] rocifier commented on #214
Yeah it's definitely reloading my whole app when it resumes from taking a photo. My base index.js is being evaluated. That means my app.initialize(); is being called which re-binds all events including pause() and resume(). Then resume() is being called.

[2016-05-13 04:55] rocifier commented on #214
Ok I'm convinced this isn't an issue with anything barcodescanner is or isn't doing, so I've made the question more general and moved it here http://stackoverflow.com/questions/37200948/why-is-onready-event-fired-when-my-cordova-phonegap-app-resumes-from-a-plugin-ac

You may close this issue and if anyone has any help or needs help on this issue head over to SO, cheers.

[2016-05-13 09:20] gaudecker commented on #220
We've had the same issue for almost a year now for our iOS app.

[2016-05-13 16:52] HenrySipp opened #232 "Scanning dense formats like Code 39 or 128 are nearly impossible"
I've used this as the most basic possible implementation in my app that I could. I'm finding that when scanning specifically Code 39 barcodes the plugin takes up to 60 seconds in order to recognize the barcode.

I'm experiencing this on both iOS and Android

[2016-05-14 04:15] rosdi commented on #205
Happenning to me too..., scan works fine the first time, but on **second** scan onward it fails **most of the time (not all)**. in my case I am using it with Ionic 2.. here is a simplified code and the error I am receiving..

    import {BarcodeScanner} from 'ionic-native';

    public scan() {
        console.debug("Initiating scanning.");
        this.platform.ready().then(() => {
            co

[2016-05-15 10:49] AlDrag opened #233 "Min Android SDK"
Do we need the min android SDK of 15 there?
Not that it's a huge issue, just that when I want to compile my non-crosswalk apk for android versions 19+, I need to remove this line.

Thanks.

[2016-05-16 07:50] gaudecker commented on #220
@kyleap I fixed this issue by forking the plugin and fixing the issue like this: silmu/phonegap-plugin-barcodescanner@7b8d05cc1a1d0b0a6b94593a0511c6089bd8b81b

Then replacing `phonegap-plugin-barcodescanner` under `cordovaPlugins` in package.json with the url to our fork:

[code]

[2016-05-16 08:36] kyleap commented on #220
@gaudecker thank you for your help :)

[2016-05-16 10:55] EddyVerbruggen commented on #220
A few of my plugins are also affected by this Ionic bug on iOS so I rather see that fixed than fixing all plugins, but I'm happy to see (and consider) these workarounds 👍

[2016-05-16 17:07] nikhilkh commented on #220
@EddyVerbruggen I'm curious - what is the Ionic bug on iOS here? Is that logged already - Is scan being invoked twice for some reason?

[2016-05-16 17:16] EddyVerbruggen commented on #220
@nikhilkh https://github.com/driftyco/ionic/issues/1022

[2016-05-16 19:21] elewin commented on #122
A work around I have used is to recursively call the scan method after every success until the user clicks cancel

[2016-05-16 20:10] okonon commented on #232
We have same issue here...

[2016-05-16 20:13] okonon commented on #215
same issue here....

[2016-05-17 07:00] jmloveyj commented on #225
It is not possible

[2016-05-17 11:43] geisi93 commented on #188
@sarangan12  no crash any longer. Thanks!

[2016-05-17 17:47] ChezFre commented on #118
I came here because scanning was incredibly slow on my iPhone 6S and I had to get the app very close in order to finally have it recognize a barcode (if it recognized it at all). Funny enough, it was the opposite of @lukyn-cz's comment that helped (albeit a little), changing the setting from Medium to High.

[2016-05-18 05:26] Delagen commented on #233
Yes. Don't modify default behavior. I cannot set minskd in all the ways with this plugin

[2016-05-18 06:29] EddyVerbruggen commented on #215
Does it also happen when flipping once, or do you really need to flip it twice? I know I tested the latest version with flipping once, not sure I tested flipping twice..

[2016-05-18 06:31] EddyVerbruggen commented on #233
Have you guys tried setting the minsdk in config.xml to override it? Not entirely sure that'll work but it usually does. If it doesn't help please comment back here and I'll smarten up the gradle script.

[2016-05-18 11:25] okonon commented on #215
@EddyVerbruggen for me it happens every time you try to scan after first 'flip'

[2016-05-18 11:41] dohoangn commented on #215
Flipping in barcode scanner is not useful for users, my users mistaken that flipping button is used to scan barcode, I just removed the button and add text like 'Please position the barcode into the square to automatically scan'

[2016-05-18 11:42] dohoangn commented on #215
`/*
 * PhoneGap is available under *either* the terms of the modified BSD license *or* the
 * MIT License (2008). See http://opensource.org/licenses/alphabetical for full text.
 *
 * Copyright 2011 Matt Kane. All rights reserved.
 * Copyright (c) 2011, IBM Corporation
 */

#import <Foundation/Foundation.h>
#import <UIKit/UIKit.h>
#import <AVFoundation/AVFoundation.h>
#import <AssetsLibrary/AssetsL

[2016-05-18 18:59] Delagen commented on #233
config.xml does not correspond to my build system. But in this case I cannot modify this value through all other 3 methods

[2016-05-18 19:18] drdpedroso opened #234 "Remove Result Prompt"
Hey Guys, I don't want to show the result of the QRCode I'm reading. The prompt message is showed like "Simple text: foo"

Is there a way of taking this off without changing the plugin source?

[2016-05-18 19:46] AlDrag commented on #233
Yea setting minsdk in the config.xml does not work. Even manually setting the minsdk in AndroidManifest doesn't work either, so the plugin is definitely overriding it.

[2016-05-18 20:29] MaicolBen commented on #92
@sarangan12 It is still happening with version 5, the Telerik plugin doesn't have that bug

[2016-05-18 20:32] nikhilkh commented on #92
Can you provide logs from the crash?

[2016-05-18 22:16] jcesarmobile commented on #234
On the success callback you have to do whatever you want with the result.text, you don't have to show it if you don't want, but the plugin code doesn't show it, just return the value

[code]

[2016-05-19 10:16] 3fera commented on #223
I need too :)

[2016-05-19 13:22] drdpedroso commented on #234
Really? Because the prompt is showing the result here. I'm doing something like this:

        $cordovaBarcodeScanner.scan(
            function (result) {
                var qrcodeReceived = result.text.split("|");
                 //dosomething
            },
            function (error) {
                  console.log("error")
            },
            {
                "preferFrontCamera" :

[2016-05-20 16:49] oumayma-ltaief opened #236 "Not working for iOS"
Hello,
I'm using your plugin for my cordova app.
It's working fine with android but when I tried to generate an iOS version with Xcode, the app build failed.
Any suggestions to fix that problem please?
Thanks.

[2016-05-22 08:35] epeleg commented on #153
@sarangan12 can you please explain why you closed this?

[2016-05-23 00:36] KangJane opened #237 "BarcodeScanner.java Error"
Hello. I'm Jane. I will make a BarcodeScanner App but I have a problem.

After Installing BarcodeScanner plug, BarcodeScanner.java had Errors.

so.. I added com.google.zxing.client.android.captureacitivity.jar.

but I still have errors.

intentScan.putExtra(Intents.Scan.CAMERA_ID, obj.optBoolean(PREFER_FRONTCAMERA, false) ? 1 : 0);
                        intentScan.putExtra(Intents.Scan.SHOW_FLIP

[2016-05-23 08:31] roeycohen opened #238 "ios callbacks not called"
Trying the sample code on iPhone 6 shows the scanner but the success callback never returns.
the bug makes the library unusable :(

[2016-05-23 14:58] zeddz92 commented on #223
so the developpers just ignored this issue?

[2016-05-23 18:07] davidecantini commented on #238
I'm experiencing the same issue on iPhone 6s iOS 9.3.2 (the same app works properly on Android).

[2016-05-23 18:31] davidecantini commented on #238
After some experiments, I found out that the issue on iOS seems to be related to the "formats" parameter. In particular, while the following does not work:
`"formats" : "EAN_8, EAN_13, QR_CODE"  (not working)`
it works if "formats" is either omitted (i.e. default to all) or set to have the format of the code being scanned as the first in the list, i.e.
`"formats" : "EAN_13, EAN_8, QR_CODE" (workin

[2016-05-23 18:55] EddyVerbruggen commented on #238
@davidecantini can you try `"formats" : "EAN_13,EAN_8,QR_CODE"` (no spaces)?

[2016-05-23 18:56] sarangan12 commented on #153
@epeleg Please refer the [issue](https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/222).

A major code change has been merged from Telerik branch to this branch. This has fixed majority of the iOS and Android bugs. But since the size of the merge is large, we cannot validate every issue and resolve it. So, I have closed all open issues related to android and ios. If you still find

[2016-05-23 20:59] davidecantini commented on #238
@EddyVerbruggen, it works without spaces, as follows:

"formats" : "EAN_8,EAN_13,QR_CODE" (working)

That confirms that the issue may be related to the "formats" parameter and, in particular, to its parsing.

[2016-05-23 21:35] EddyVerbruggen commented on #238
Correct, the iOS implementation doensn't currently like spaces.

[2016-05-24 04:19] AlDrag opened #239 "iOS 9.3.2 Broke Scanner?"
I have some clients reporting The Scanner is no longer working on their phones. This seems to fall around the same time the iOS 9.3.2 update came out. Anyone else getting any issues on iOS 9.3.2 devices?

Thanks

[2016-05-24 06:06] roeycohen commented on #238
Hi,
playing with the formats doesn't work for me.
I've tried the samples above, without commas. tried to omit this parameter entirely but with no success.
:(

[2016-05-24 06:10] roeycohen commented on #239
same for me with iphone 6 with ios v8.4.

[2016-05-24 09:37] AlDrag commented on #239
Nevermind. It works fine. Apologies. Feel free to remove.

[2016-05-24 09:37] #239 closed

[2016-05-24 11:06] ilvalerione opened #240 "Samsung S6 edge plus Camera ERROR"
When I try to open a camera in Samsung S6 edge i receive
CAMERA ERROR: Android camera has encountered an error, and the APP will be close.

![whatsapp-image-20160524 2](https://cloud.githubusercontent.com/assets/13559278/15501854/46f6a73e-21b0-11e6-85a8-56a5c79ebeea.jpg)

Anyone know this problem on Samsung S6 edge? Can I try some config.xml configuration?

Thanks

[2016-05-24 17:45] dannywillems opened #241 "Msi format for Android and iOS"
Coud you implement the Msi format for Android and iOS? It's only available on Windows for the moment.

[2016-05-24 18:18] uniphonic commented on #232
I've seen the same issue, so we switched to a different Cordova plugin based on ZBar instead, which scans much faster:
https://github.com/tjwoon/csZBar

Only problem is that ZBar doesn't currently support 2D DataMatrix barcodes like the ZXing phonegap-plugin-barcodescanner does, and we need both!

[2016-05-24 18:47] uniphonic commented on #232
@okonon @HenrySipp Have either of you tried disabling other barcode format types, to see if that speeds up scanning? I just noticed that there is a "formats" key, where you can pass in the different formats, where it defaults to all. I don't know if that will improve speed at all?

[2016-05-24 18:49] MaicolBen commented on #92
@nikhilkh Maybe my issue was #30 , this workaround fixed my issue on iOS https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/30#issuecomment-121513124

[2016-05-25 00:33] edicius6 commented on #138
Works for me as well on Nexus 5X, Android 6.0.1. Thank you SO MUCH, guys!! =]

[2016-05-25 12:51] Gp2mv3 commented on #229
Beware that it will not be possible to downgrade if the app is published on the Play Store.

[2016-05-25 13:03] Gp2mv3 commented on #167
@JrontEnd Maybe try to propose a PR of your plugin, it can be really useful !

[2016-05-25 14:37] azn1viet opened #242 "code 128 not recognize carriage return"
It can scan code 128 but not recognize carriage return. I think it would related to the byte code definition. CR is 13 but I can't see how to modify the library to recognize this in the source code below:

[code]

  }

and here:

[code]

  }

[2016-05-26 01:35] JrontEnd commented on #167
@Gp2mv3 I created a PR ,but not accepted.

[2016-05-26 07:37] tetrakiss commented on #240
Add permissions for camera in app properties

[2016-05-26 10:47] ilvalerione commented on #240
In PhonegapBuild documentation i found this to add camera permission:

`<feature name="http://api.phonegap.com/1.0/camera"/>`

Is this correct?

[2016-05-26 13:36] hamark opened #243 "Configurations for Ionic"
Hi,
As you know barcodescanner is integrate in Ionic native. But without any configuration.

It seems that it would be possible to include configuration in Ionic native just by switching args in the scan method.

`BarcodeScanner.prototype.scan = function (successCallback, errorCallback, config) {..}`
with
`BarcodeScanner.prototype.scan = function (config, successCallback, errorCallback) {..}`

Can

[2016-05-26 15:14] EddyVerbruggen commented on #14
With version 5.0.0 you can now also pass a `formats` param see the readme for an example (don't add spaces between the formats).

[2016-05-26 15:14] #14 closed

[2016-05-26 20:02] EddyVerbruggen commented on #243
@hamark If that's the case then to me it makes more sense to [report an issue in the Ionic Native repo](https://github.com/driftyco/ionic-native/issues) instead, don't you agree?

[2016-05-26 20:35] JoellyR commented on #19
hey @tnyeanderson did you ever find out a way to get the ZXING PDF417 port to work properly? By looking at the demo and such it looks like your just supposed to upload a file for it to decode.. Not use your camera to detect the barcode...

[2016-05-27 07:11] hamark commented on #243
Thanks for your answer.

I'm obviously not an expert, but it seems to be a javascript limitation. When i look other cordova plugin integrate in ionic-native, options are always before success and failure function.

for example if i try to change ionic-native with barcodescanner options
[code]

i have the following error  : `BarcodeScanner.scan failure: success callback parameter must be a function

[2016-05-27 07:15] EddyVerbruggen commented on #243
Let's ask @kraffslol because he was the [original author of Ionic Native's barcodescanner bridge](https://github.com/driftyco/ionic-native/commit/c94fe23d2a561583ef633ff0179d458d45c1b535).

[2016-05-27 07:44] kraffslol commented on #243
Is [this](https://github.com/driftyco/ionic-native/blob/c94fe23d2a561583ef633ff0179d458d45c1b535/src/plugins/barcodescanner.ts#L8-L15) of any help?

[2016-05-27 08:05] hamark commented on #243
Same problem with this.
Is this work for you ?

[2016-05-27 08:23] kraffslol commented on #243
Looking at [this](https://github.com/driftyco/ionic-native/commit/6688c4d91d38bd0407a570ac34882729f844554a#diff-226a9b93c8de035b9458de820a6ba14b)  commit it seems like they've modified it since I made it and removed the ability to add options. Sadly I'm far from experienced when it comes to TypeScript so I'm not of much help in this matter.

You could try forking the repo, and changing the line to

[2016-05-27 08:25] hamark commented on #243
Actualy i tried this before posting this issue here

[2016-05-27 08:30] kraffslol commented on #243
Does this work?
[code]

[2016-05-27 08:39] hamark commented on #243
What i've tried :
in `node_modules\ionic-native\dist\plugins\barcodescanner.d.ts`

[code]

where i declare barcodescanner

[code]
Error in my console when debugging on android phone :

`BarcodeScanner.scan failure: success callback parameter must be a function `

[2016-05-27 08:42] kraffslol commented on #243
You can't modify .ts file directly like that since it has to compile down to .js. You will have to rebuild it whenever you change a .ts file. See [this](https://github.com/driftyco/ionic-native/blob/master/package.json#L40-L41)

[2016-05-27 08:44] hamark commented on #243
Sure, i fallowed this [GUIDE](https://github.com/driftyco/ionic-native/blob/master/DEVELOPER.md)

[2016-05-27 08:47] kraffslol commented on #243
Then I'm out of ideas :(. You should probably create an issue on the ionic-native, maybe they can help you out.

[2016-05-27 08:48] hamark commented on #243
Thanks for your help anyway :+1:

[2016-05-27 11:13] Gusten opened #244 "Almost half of the screen is black when barcodescanner is running. IOS"
I'm building an app towards Android and IOS with Cordova and Ionic.
I've been using this plugin which has been working fine on Android but now when I'm trying to build on an IOS there is an issue with almost half of the screen being completely black and the other half showing the camera feed. See figure below

![img_0168](https://cloud.githubusercontent.com/assets/1529107/15606403/4e231bec-240c-11

[2016-05-27 19:40] nmaas87 commented on #69
I would also like to see these features

[2016-05-27 19:44] nmaas87 commented on #233
I got the same problem, because I need to compile for android 10 (2.3.3/2.3.7 Gingerbread Devices) - I know, very old but.. Can't help it.

It is very easy to do that. You just need to change:

config.xml
    <preference name="android-minSdkVersion" value="10" />
    <engine name="android" spec="~4.0.2" />

and in plattforms/Android/CordovaLib/AndroidManifest.xml
<uses-sdk android:minSdkVersion="1

[2016-05-29 02:32] sbasi5576 opened #245 "Manual Entry Option"
Is there a way to enter the barcode manually i.e. type it in?

[2016-05-30 14:15] favors commented on #219
I met the same requirement and I install the plugin on https://github.com/wildabeast/BarcodeScanner, the original of this repo and change the file https://github.com/wildabeast/BarcodeScanner/blob/master/src/android/LibraryProject/src/com/google/zxing/client/android/CaptureActivity.java on method handleDecodeInternally to hide the text

[2016-05-31 07:12] jacekhajduk opened #246 "Cordova build - long time signing"
Hello
I have some issue with new version plugin (5.0.0).
When I use **cordova build android** - I must wait vary long to finish build (in v4.1.0 all work fine).
I use cordova 6.1.1. (Win 7)

Regards
Jacek

[2016-05-31 07:23] mglmgl commented on #60
i found out, that the app crashes on iOS when i call the .scan()-Function with 3 parameters.
This works:
`barcodeScanner.scan(function (successCallback) {}, function (errorCallback) {});`
While this results in a crash:
`barcodeScanner.scan(function (successCallback) {}, function (errorCallback) {},{ ...options... });`

On Windows Phone and Android i don't have any issues with the options-parameter

[2016-05-31 08:51] daserge commented on #169
@pke, is there any news on C++ plugin implementation?

[2016-05-31 17:55] bjanaszek commented on #196
I am seeing similar behavior on a Windows 10 tablet.

[2016-05-31 18:37] EddyVerbruggen commented on #60
@mglmgl With 5.0.0 that should be ok. Alternatively, can you try like this?

[code]

Please post a stacktrace / error in case that's still failing for you.

[2016-06-02 14:03] JLNNN opened #247 "Unable to take picture"
Hey,
the camera is being started, but I'm unable to hit the "take that picture damnit"-button. Why? Because it's not there 💃

iOS is @ latest version, iPhone SE and iPhone 6s Plus tested. Barcodescanner version: 5.0.0.

Used plugins:
  "cordovaPlugins": [
    "cordova-plugin-device",
    "cordova-plugin-console",
    "cordova-plugin-whitelist",
    "cordova-plugin-splashscreen",
    "cordova-plugi

[2016-06-02 14:07] EddyVerbruggen commented on #247
The scanner is not supposed to be a picture taking thingy - it'll stop showing the UI when you hit cancel or a barcode is recognized.

[2016-06-02 14:07] #247 closed

[2016-06-03 12:42] daserge opened #249 "[Windows] Focus fails on multiple taps"
Tapping preview multiple times causes focus failure and crash on Windows Phone 8.1:
`WinRTError: An operation is currently in progress with the device.`

[2016-06-07 11:39] Riaz12 commented on #244
Hi Gusten,

Just want to find out, how did you center the camera and add the green border ?
Is that a default setting on iOS ?

Thanks

[2016-06-08 08:49] #196 closed

[2016-06-08 20:06] normowl opened #254 "Obtain image after scan"
Is it possible to obtain the image of the barcode, along with the extracted text?

[2016-06-09 15:04] matiu opened #255 "Error when Compiling the final App"
Hi,

Using the current master version of the plugin & cordova 6.1.1 we get:

[code]

when compiling the app.  Thanks a lot in advance!

[2016-06-09 15:36] #249 closed

[2016-06-09 17:38] aristt opened #258 "Error building Cordova app for Windows Phone (Universal)"
After installing phonegap-plugin-barcodescanner on a Ionic project I get an error when building for Windows Phone Universal with Visual Studio 2015.
I tried to remove the plugin and after that I can build the project without any problem.

Anybody experienced the same problem? Here's a log of the error (it says "file not found", but the .appx file does exist):

C:\Program Files (x86)\MSBuild\Micros

[2016-06-10 09:41] pravinsa commented on #232
I have same problame with Code 39 Full Ascii type barcode.
Even some scaner in playstore dose not support this type.

[2016-06-10 23:27] Lestt commented on #8
Hi all, do you have any estimation about the date which these enhancement could be done ?

[2016-06-11 14:00] dhorner commented on #223
I would like to contain scanner area in a <div> as well so I can use the top or bottom half of screen in portrait mode for content.  This will be on large tablet so plenty of room for more content.

[2016-06-12 16:09] jcesarmobile commented on #8
No estimates, feel free to send a PR

[2016-06-13 06:08] midhunanew opened #259 "Turning off found plain text"
Is there any option to turnoff the text being displayed just after the scan like, `found plain text ...`. Even if it not available as an option for plugin, is there any way to comment out some part in source code and rebuild for Android?

Thank you,
Midhun

[2016-06-13 09:32] econnolly commented on #229
There must be lots of people with this error and there is a pending pull request that looks like it will solve this properly.

Any chance this could be reviewed and accepted if it works?
https://github.com/phonegap/phonegap-plugin-barcodescanner/pull/210

[2016-06-13 09:48] EddyVerbruggen commented on #229
@econnolly That code has already been included in the 5.0.0 release.

[2016-06-13 09:56] EddyVerbruggen commented on #229
Just tested again on a Samsung Galaxy S6 running Android 6.x with target SDK 23: upon scanning it prompts me for permission and upon approval scanning starts.

Do you guys have these permissions in `AndroidManifest.xml`?

[code]

[2016-06-14 08:27] JrontEnd commented on #167
@guardezi
I have a good news.The pull request is merged, you can add the plugin of latest version in phonegap repository.

[2016-06-14 15:20] daserge commented on #259
See https://github.com/EddyVerbruggen/barcodescanner-lib-aar/blob/41a8f4d5997aee4b4c36228b5827710013007839/barcodescanner/src/main/res/values/strings.xml#L138 and https://github.com/EddyVerbruggen/barcodescanner-lib-aar

[2016-06-14 15:26] daserge commented on #243
Closing as it has been resolved on the ionic-native side.

[2016-06-14 15:26] #243 closed

[2016-06-14 15:40] Slanman3755 commented on #54
+1

[2016-06-14 15:58] #231 closed

[2016-06-14 16:00] daserge commented on #230
@joelnewcomer, please reopen if this is still actual.

[2016-06-14 16:00] #230 closed

[2016-06-15 07:47] daserge commented on #228
@McOffsky, have you tried to use [`preferences_copy_to_clipboard`](https://github.com/EddyVerbruggen/barcodescanner-lib-aar/blob/eb9d15efa36e903100d7134c46759714f30b7d2e/barcodescanner/src/main/java/com/google/zxing/client/android/PreferencesActivity.java#L41) parameter?

[2016-06-15 07:53] #224 closed

[2016-06-15 08:04] daserge commented on #219
@riaz12s, see #259

[2016-06-15 08:08] daserge commented on #237
Hi @KangJane, could you please see if the solution in #224 helps?

[2016-06-15 09:37] #172 closed

[2016-06-15 09:37] #202 closed

[2016-06-16 12:38] daserge commented on #258
Hello @aristt, this is related to package signing, see http://stackoverflow.com/questions/15099859/signtool-error-while-packaging-windows-store-app for details.

[2016-06-16 12:38] #258 closed

[2016-06-16 13:53] daserge commented on #255
@matiu, is this still actual?
I could not reproduce this locally.

[2016-06-16 14:09] daserge commented on #244
Confirmed.
The issue occurs if the video preview is opened when the app in the landscape orientation, f.e. if the orientation is unlocked:
[code]

[2016-06-16 14:26] matiu commented on #255
Yes, we try in different notebook, all running OSX Lion.  Please let me know if there is anything we can do to try it further. Thanks!

[2016-06-16 15:36] daserge commented on #255
The issue does not reproduce for me on OSX as well (tried on Yosemite 10.10.5).
Are you using crosswalk plugin?
Does the app build if you remove the barcodescanner?

[2016-06-16 15:57] daserge commented on #244
@Gusten, ios does not currently support scanning in orientations other that portrait so you could use this workaround for now:
`cordova plugin add cordova-plugin-screen-orientation`

[code]

[2016-06-16 16:06] daserge commented on #238
@roeycohen, are you using Ionic/Angular in your app? (might be related to #220?)
In a blank Cordova app it does not reproduce for me on iPad (iOS 8.1).

[2016-06-16 16:08] daserge commented on #236
@oumayma-ltaief could you please provide any error logs and describe your environment (iOS, OSX, XCode versions)?

[2016-06-16 16:26] daserge commented on #244
@Gusten, I've actually tested the #171 - and it fixes this issue, works great without the need to lock the orientation.
It would be great if you could confirm it also works in your case:
`cordova plugin add https://github.com/irontec/phonegap-plugin-barcodescanner`

[2016-06-16 16:39] matiu commented on #255
Thanks for your response.

Yes. It builds OK with the fork we are using currently:
[code]
the code of the app and the cordova script to build it  is at:
https://github.com/bitpay/copay/blob/master/cordova/build.sh#L87
(you can see there the other plugins we are using).

thanks a lot!

[2016-06-17 01:04] pdsullivan commented on #30
I had this happening as well, realized it was caused by the scanner being called more than once. Hope this helps someone. Preventing that from happening fixed the issue. 👍

[2016-06-17 01:27] pdsullivan commented on #30
hmm...

![image](https://cloud.githubusercontent.com/assets/2042218/16138195/06d4a262-33f0-11e6-9041-45d9755549ab.png)

[2016-06-17 06:52] owq commented on #40
Issue seems to remain with c3bcd87.
However #171 fixes this.

[2016-06-17 11:54] tetrakiss commented on #240
No, on your device

[2016-06-17 14:13] oumayma-ltaief commented on #236
The issue was solved after updating to version 4.0.1 of the plugin with ngCordova.
Thanks.

[2016-06-17 14:16] #236 closed

[2016-06-17 15:38] EddyVerbruggen commented on #40
Fixed in 5.0.1.

[2016-06-17 15:41] EddyVerbruggen commented on #244
Fixed in 5.0.1.

[2016-06-17 15:41] #244 closed

[2016-06-17 16:08] EddyVerbruggen commented on #238
@roeycohen Just checking that where you say 'commas' you actually meant 'spaces'?

[2016-06-18 21:37] diloreto commented on #8
Is there a setting somewhere to enable vibration on a successful scan? Cross platform?

[2016-06-18 23:37] Lestt commented on #8
@diloreto You can use this lib for doing this [cordova-plugin-vibration](https://github.com/apache/cordova-plugin-vibration)

[2016-06-19 10:16] daserge commented on #255
@matiu, that's strange as the JrontEnd' commit has been merged to master.
Are you sure you were testing with `the current master version`?
Could you try please again `cordova plugin add https://github.com/phonegap/phonegap-plugin-barcodescanner`?

[2016-06-20 08:29] #213 closed

[2016-06-20 10:48] pke commented on #227
It would be even nicer if we could specify where in the app the camera viewport should appear.

[2016-06-20 10:49] pke commented on #223
Also then the plugin would not need to be shipped with all the translations (and their bugs in the android build process).

[2016-06-20 10:54] pke commented on #220
@EddyVerbruggen true, the source bug needs to be fixed. But this plugin can never be sure another framework (or manually) calls the scan function twice. If calling it twice crashes the app then the plugin should protect itself and drop out early of double scan calls.

[2016-06-20 10:56] EddyVerbruggen commented on #220
Or your app should protect against it. Like I said: willing to consider a workaround (PR).

[2016-06-20 11:14] pke commented on #220
@gaudecker mentioned 2 workarounds already.
I stand by that API should protect itself against (accidental) wrong calls.

[2016-06-20 11:16] EddyVerbruggen commented on #220
@pke you're welcome to submit a PR

[2016-06-20 13:41] ashutoshdev opened #261 "How to increase scanner frame size?"
Hello,

I want to know that how to increase scanner frame size without customise any other library. Can I do this by using JS file and HTML file.

Thanks

[2016-06-20 13:54] daserge commented on #261
Video preview is native UI on Android and iOS.
You can customize it by CSS means on Windows only currently.
Similar feature requests: #227, #223

[2016-06-20 13:54] #261 closed

[2016-06-21 11:34] diloreto opened #262 "iOS Scanner Does Not Capture Barcodes"
I have tried implementing this plugin several times, executing by building a phoneGap project, opening in Xcode, then building and pushing to my iPhone 6s+ (latest iOS). I can get the scanner to show up with a green box and red line through it, and then when I hover over barcodes, the debugger in Xcode shows data apparently, but the scanner does not stop reading/capture. I never get to the "succes

[2016-06-21 11:38] jcesarmobile commented on #262
I think you have to remove the "formats" : "" or use null instead of ""

[2016-06-21 11:39] diloreto commented on #238
Having the same issue here, regardless of whether I pass "formats" or not. I wish the options object was better documented for things like this. Is it required?

[2016-06-21 13:44] pke opened #264 "QR Code detection rate worse then v3.1.0"
`v3.1.0` was very fast in detecting QR codes. The current master even with only QR code format specified rarely detects any code.
Has there something changed?

[2016-06-21 13:52] EddyVerbruggen commented on #264
Can you compare the difference between 5.0.0 and 5.0.1 as well?

[2016-06-21 13:53] pke commented on #264
It seems the camera is no longer auto-focusing correctly. Will try 5.0.1 in the next hour.

[2016-06-21 13:53] daserge commented on #264
Is the issue on Windows?

[2016-06-21 13:56] pke commented on #264
No, on iOS. The Windows implentation is not even worth testing. It needs to be redone using proper media filters. I have an experimental branch for that, a couple of months old.

[2016-06-21 13:57] daserge commented on #264
It now works better at least on Windows 10.

[2016-06-21 13:58] pke commented on #264
@daserge yes I just realized that. Please see my updated comment.

[2016-06-21 14:01] daserge commented on #264
@pke - I agree and it would be great if you could share this alternative implementation.

[2016-06-21 14:54] daserge commented on #211
Switching to Release fixes the build.

[2016-06-21 15:05] daserge commented on #179
@bampakoa, could you please try switching the `Generate app bundle` to `Always` and try again?
I've tested it and it works - package is being created, it passes the WACK and uploads to the Store.

[2016-06-21 15:21] daserge commented on #205
This does not reproduce for me on 5.0.1 - could you please re-test, @yesiman?

[2016-06-21 16:34] pke commented on #264
5.0.1 is terrible, sorry. Takes forever to focus and understand the QR-code.
3.1.0 was better but it has a terrible bug in how it handles options. The JS says options can be an object. But the iOS code treats the only parameter to `scan` as the `XiBOverlay`. Which of course crashes if you hand in an object as the 3rd argument to `scan`.

[2016-06-21 16:43] EddyVerbruggen commented on #264
@pke do you see a difference between 5.0.0 and 5.0.0?

[2016-06-21 17:53] diloreto commented on #262
Thank you - I'll give that a whirl. That still doesn't answer why when I
hover over barcodes with the barcode scanner open that it does not "pick
them up". Scanner continues to try.

On Tuesday, June 21, 2016, jcesarmobile <notifications@github.com> wrote:

--

Tony DiLoreto
tony.diloreto@gmail.com
http://www.tonydiloreto.com

*“If you only do what you can do, you'll never be better than what you

[2016-06-21 19:12] pke commented on #264
if you mean between 5.0.1 and 5.0.0 I'd like to check the code differences first here but github seems to have lost that functionality

[2016-06-21 19:19] EddyVerbruggen commented on #264
Lol, yeah (comment updated). The feature [is still there](https://github.com/phonegap/phonegap-plugin-barcodescanner/compare/5.0.0...5.0.1).

[2016-06-21 19:20] sivailangos opened #265 "Scan the Barcode within specific div instead of full screen"
How do we scan the QR code within particular div instead of Full Screen? Can we control the Scanning View port size?

[2016-06-21 19:49] bampakoa commented on #179
@daserge I tried creating a new VS solution from scratch with the plugin added and the problem persists. I have updated the description of the issue to be aligned with my new configuration. Can you please share your configuration and/or additional details on how you achieved that?

[2016-06-21 19:55] manuelprojects commented on #265
+1

[2016-06-21 21:50] jcesarmobile commented on #265
Closing because it's a duplicate of https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/223

On iOS and android it's impossible to put a native view inside a div, not sure about windows.
Making the scanner view not full screen might be possible, but will require a lot of extra work, PRs are welcomed

[2016-06-21 21:50] #265 closed

[2016-06-21 21:59] jcesarmobile commented on #234
I think I didn't understand you. Can you provide a screenshot of what you call "prompt"?
This only happens on Android, right?

[2016-06-22 08:21] daserge commented on #234
@drdpedroso, see #259.
You will probably need to modify and rebuild underlying barcodescanner-lib-aar.

[2016-06-22 09:46] EddyVerbruggen commented on #220
@daserge LGTM

[2016-06-22 12:52] Giriton commented on #223
Hi guys, we would appreciate this feature too.
Actually I believe the biggest issue here is streaming the live video preview over the cordova app.
I actually found a plugin that claims to do exactly this:
https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview
I know you guys mention you need to stream video into a particular div, but this solution (placing live video previe

[2016-06-22 12:55] simonpapworth6742 commented on #232
This is a problem with the more recent version - have just switched from version 2.0.0 (as I knew it in phonegapbuild) there is another thread on this issue as well

[2016-06-22 13:00] simonpapworth6742 commented on #264
Same problem here - sorry

[2016-06-22 13:03] drdpedroso commented on #234
Just changed the line 560 to
     ` resultView.setVisibility(View.GONE);`

[2016-06-22 13:03] #234 closed

[2016-06-22 13:08] daserge commented on #234
This one https://github.com/EddyVerbruggen/barcodescanner-lib-aar/blob/eb9d15efa36e903100d7134c46759714f30b7d2e/barcodescanner/src/main/java/com/google/zxing/client/android/CaptureActivity.java#L560?

[2016-06-22 13:11] daserge commented on #179
@bampakoa, I meant this VS setting:
![bundle](https://cloud.githubusercontent.com/assets/4272078/16267743/05884190-3894-11e6-8ac6-a3b711dd3492.PNG)

[2016-06-22 13:25] bampakoa commented on #179
@daserge I have also set **Generate app bundle** to **Always** with no luck.

[2016-06-22 13:32] daserge commented on #179
@bampakoa, could you upload and share a blank project with that issue on some online drive?

[2016-06-22 13:34] bampakoa commented on #179
@daserge Sure, no problem. I will upload it in Google Drive and let you know. Thanks very much for your help.

[2016-06-22 15:46] daserge commented on #220
Tested with ionic and ionic-material and the issue does not reproduce.

[2016-06-23 15:04] daserge commented on #220
Fixed in #267

[2016-06-23 15:04] #220 closed

[2016-06-23 17:13] daserge commented on #205
Please reopen if this still occurs.

[2016-06-23 17:13] #205 closed

[2016-06-23 17:14] daserge commented on #188
Please reopen if this still happens.

[2016-06-23 17:14] #188 closed

[2016-06-23 18:24] jcesarmobile commented on #238
For those whose problem isn't the formats, can you try with console.log or the dialogs plugin instead of using a regular alert?

[2016-06-23 19:48] bampakoa commented on #179
@daserge https://drive.google.com/open?id=0B9H4CfCJzrtGWmljak83RHVBMTA

[2016-06-24 03:29] songhlc commented on #262
it works fine on my iphone5s
here is my code:

[code]

[2016-06-24 10:04] daserge commented on #179
Tested your project - added barcode scanner plugin from git, added simple code to verify it works, created Store packages from VS, WACK passed, bundle successfully uploaded to Store (Windows 10 x86, x64, ARM).
VS version: 2015 Community, 14.0.25123.00 Update 2
VS tools for Apache Cordova - Update 10

@bampakoa, could you describe your steps in detail?

[2016-06-24 10:12] simonpapworth6742 commented on #264
Ok, so I have done some more work on the iOS on iPod 5th Gen = very slow with version 5.01 & 5.0 & 4.10. On iPod 6th Gen it is much faster. The image keeps on moving and auto focus seems slow on the 5th Gen iPod.

Moved back to version 3.1.0 - and it is so fast - is this because of a new type of recognition, or a recent bar-code type being added?

[2016-06-24 10:17] simonpapworth6742 commented on #232
Version 3.1.0 is still fast on iPod 5th Gen, 5.0.1 works ok (not super quick) on iPod 6th Gen

[2016-06-24 14:55] daviddguedes commented on #22
i am trying to build o ionic android app but i don't have success. The return in my terminal is this bellow:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':transformClassesWithDexForDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 24.663 secs
Error: Er

[2016-06-24 17:32] diloreto commented on #262
Thanks - and how are you envoking that? I'm doing a $$(element).on('click',
scanItem); which calls that. The scanner will pop up, but not pull the item
code. Have you seen this before?

On Thursday, June 23, 2016, 宋江凌 <notifications@github.com> wrote:

--

Tony DiLoreto
tony.diloreto@gmail.com
http://www.tonydiloreto.com

*“If you only do what you can do, you'll never be better than what you are
n

[2016-06-24 18:56] bampakoa commented on #179
@daserge I have made two [PSRs](https://drive.google.com/folderview?id=0B9H4CfCJzrtGQ042aC1zeWpUYXc&usp=sharing), for you, that show the steps that I followed in detail.

[2016-06-25 15:09] diloreto commented on #262
User Error - I had to do a "Xcode Clean...Build" and it worked. Must have been stale compiled files.

[2016-06-25 22:52] StevenSokulski commented on #262
I believe I am experiencing the same issue. I build using the Cordova CLI, I am starting the barcode scanner via a button, and I can see the camera with the overlay.

When looking from XCode I can see various "bits" items showing up in the console as I point my camera at a barcode. But the scan is not completing and firing either the success or failure functions.

I tried running Clean on the proj

[2016-06-26 12:57] diloreto commented on #262
It's hard to say - I put this in as the new options parameter:

var camOpt = {
 "preferFrontCamera" : false, // iOS and Android
 "showFlipCameraButton" : false, // iOS and Android
 "prompt" : "Place a barcode inside the scan area", // supported on Android
only
// "formats" : "EAN_8,EAN_13,QR_CODE", // Specify formats
 "orientation" : "portrait" // Android only (portrait|landscape), default
unset s

[2016-06-27 08:35] daserge commented on #179
Thanks @bampakoa!
Could you try to change the plugin id on `Step 14` to Git url `https://github.com/phonegap/phonegap-plugin-barcodescanner`?

[2016-06-27 08:45] cougarten commented on #147
Same
Moto-G 1st Gen. (falcon)
Android 5.1.1. (non-stock Cyanogenmod)

[2016-06-27 08:53] daserge commented on #181
@jffs, please reopen if this is still actual with the latest version and add some details like on which platform this occurs, device model and OS version.

[2016-06-27 08:53] #181 closed

[2016-06-27 09:20] cougarten commented on #124
@dually8 which version of zxing did you use?

[2016-06-27 11:48] pke commented on #229
Pity that 5.x is totally unusable because it does not detect QR codes properly and in a timely fashion anymore. (3.1.0 is the last version that works fast and reliable). I'll cherry-pick that into 3.1.0 and see if it helps to prevent this error from happening.

[2016-06-27 12:03] matthewgertner commented on #255
Did you have any luck tracking this down? I'm having exactly the same problem on PhoneGap Build using version 5.0.1 of the plugin from npm.

[2016-06-27 12:26] cougarten commented on #223
this iOS only one seems to but the viewfinder behind the html: https://github.com/bitpay/cordova-plugin-qrscanner

[2016-06-27 12:37] pke commented on #223
hmmm... interesting approach. But iOS only and swift. More compile code, more hazzle. More error sources.

[2016-06-27 12:56] matthewgertner commented on #255
Oops, never mind, I RTFM'd: https://github.com/phonegap/phonegap-plugin-barcodescanner#phonegap-build

[2016-06-27 15:10] EddyVerbruggen opened #270 "iOS 10 requires Camera permission reason"
Your app will crash if you don't provide a 'usage description' for the Camera permission prompt.

I'll add an empty reason for now.

[2016-06-27 16:56] bampakoa commented on #179
@daserge I tried your suggestion but the problem persists. Some notes though:

1. As my application is already in the Store, I create a new submission that contains **already** the previous packages.
2. During build of each platform I get this warning:

I do not know if the above are related with my problem but I thought it would be ok to know it.

[2016-06-28 00:51] dually8 commented on #124
@cougarten the one from the TheLevelUp repo here: https://github.com/TheLevelUp/ZXingObjC

[2016-06-28 10:24] pke commented on #270
Couldn't that use a `config.xml` preference instead of an empty string?

[2016-06-28 10:29] EddyVerbruggen commented on #270
You can override it - this is just so your app doesn't crash if you don't.

[2016-06-28 10:36] jcesarmobile commented on #270
Right now it's not possible to add that from config.xml, you'll have to use another plugin that writes to the info.plist

[2016-06-28 11:12] pke commented on #270
@jcesarmobile I was under the impression plugins can read config preferences like this in `plugin.xml`:

[code]

[2016-06-28 11:26] johanbaaij opened #272 "Close the scanner after timeout?"
Hi! Is there a way to close the scanner after a certain period (of inactivity)? It seems that once .scan() is called, only a scanner result or error will close it. Am I correct in this? Thanks.

[2016-06-28 11:31] EddyVerbruggen commented on #272
Which platform? AFAIK all of them offer a way to stop scanning either via a software or hardware button.

[2016-06-28 12:18] donnygunawan93 opened #273 "Build failed with an exception"
![untitled](https://cloud.githubusercontent.com/assets/10414213/16414964/028581a8-3d65-11e6-961e-b47032ac013c.png)

i use sdk 23
after add plugins i got this error, why? how to fix?

[2016-06-28 13:52] daserge commented on #273
@donnygunawan93, can you look if #224 helps?

[2016-06-28 14:54] donnygunawan93 commented on #273
thx

[2016-06-28 14:54] #273 closed

[2016-06-28 21:52] codewise-nicolas commented on #140
Similar problem. We cant scan any barcode on anything but white background.

[2016-06-29 08:23] ayajshaikh opened #274 "Unable to add plugin"
I am trying to add the plugin using following commands but getting error.

`phonegap plugin add phonegap-plugin-barcodescanner`
`Error: Cannot find plugin.xml for plugin 'phonegap-plugin-barcodescanner'. Please try adding it again.`

[2016-06-29 09:48] Nilos opened #275 "[Android] Barcodescanner sets minSdkVersion to 15"
This would be fine if my minSdkVersion would be lower than 15 which I guess is the case for most projects, but I want to build a version of my app with minSdkVersion 21 which is impossible due to this behaviour of the barcodescanner plugin.
The problem stops if I remove this line: https://github.com/phonegap/phonegap-plugin-barcodescanner/blob/master/src/android/barcodescanner.gradle#L1

[2016-06-29 10:23] EddyVerbruggen commented on #140
On which platform(s) is this an issue?

[2016-06-29 16:26] StevenSokulski commented on #262
I was able to resolve this. I think it may have been a misconfiguration on my end. Either that or cleaning the project worked.

At any rate, don't keep this issue open on my account. Thanks!

[2016-06-29 16:44] Sundar-Ram commented on #138
Works for me as well on Nexus5X with this Telerik Plugin: http://plugins.telerik.com/cordova/plugin/barcodescanner . Thank you!

[2016-06-29 16:45] Sundar-Ram commented on #175
Works for me as well on Nexus5X with this Telerik Plugin: http://plugins.telerik.com/cordova/plugin/barcodescanner . Thank you!

[2016-06-29 16:56] codewise-nicolas commented on #140
For me it's on ios
On Jun 29, 2016 3:24 AM, "Eddy Verbruggen" <notifications@github.com> wrote:

[2016-06-30 21:18] gustavocampos commented on #233
Gosh...... I've been struggling to build my non-crosswalk version for days and now I found out that this plugin is bringing min sdk down to 15+
I would stay on 4.x if the camera was not upside down on Nexus 5X

[2016-07-01 12:31] gustavocampos commented on #275
Same here.

And here https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/233

[2016-07-01 13:24] gustavocampos commented on #275
I cloned this repo and removed the min sdk build instruction, if you want to use it on phonegap build:

<gap:plugin spec="https://github.com/gustavocampos/phonegap-plugin-barcodescanner" source="git" />

[2016-07-01 16:04] Nilos commented on #275
Ah thanks! Do not understand why they do not fix this though! :(

[2016-07-01 19:22] iamvau commented on #179
@bampakoa: I had exactly the same problem.  For me it was fixed after updating VS tools for Apache Cordova - from Update 9 to **update 10**

[2016-07-02 04:50] daserge commented on #179
@bampakoa, I've published a test app to the Windows Store - tested x64 and arm versions via promotional codes and it works OK.
Try upgrading to [VS 2015 update 3](https://www.visualstudio.com/en-us/news/releasenotes/vs2015-update3-vs) (if you have the software versions the same as I reported [here](https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/179#issuecomment-228307550)).

[2016-07-03 06:14] jaassoon opened #276 "App crash in android 5.1.1"
Error message like that: Android camera has encountered an error, and the APP will be close.

When you start scan,the app will ask you whether allow the device to access camera or not.
If you select no, then the app crash.

manifest file have setting these:
uses-permission android:name="android.permission.CAMERA"
uses-permission android:name="android.permission.FLASHLIGHT"
uses-feature android:nam

[2016-07-04 05:23] aserraric opened #277 "iOS: Crash when switching camera"
When switching camera, the plugin reproducibly crashes and takes down the app with it.

I think I've tracked it down to the call to _barcodeScanDone_ in _flipCamera_, which expects a callback function as an argument.

[2016-07-05 08:17] fmiboy commented on #276
yes, i confirm this. I had this recently am now using 5.0.0, but I get "Sorry, the Android camera encountered a problem. You may need to restart the device" message for target 23+ API.
Not sure what to do yet, tried various combinations, still unable to solve issue without setting target to 22.

[2016-07-05 09:10] fmiboy commented on #240
how to ask permission from user instead of bringing up this alert?

[2016-07-05 11:45] daserge commented on #276
This does not reproduce for me neither on Galaxy Grand Prime 5.1.1 nor on Galaxy S4 5.0.1.
Could you please share your `config.xml` and the output of `cordova platforms` and `cordova plugins`?

[2016-07-05 12:03] fmiboy commented on #276
I had following, cordova platform add android@5.1.1
and plugin barcodescanner 5.0.0 and after build with min target 23.
I have installed it on Android 6.0.1 and for me app would close without any messages.

[2016-07-05 14:37] Alplob commented on #10
Yes, this would be a good idea. Or even better, an 'auto' mode, if the contrast is not good enough, the light would be switched on automatically 😃

[2016-07-05 14:43] jaassoon commented on #276
src code at : https://github.com/jaassoon/hello.git
branch : hello-barcode
attachment is the error log file.
[barcode-scaner-error.txt](https://github.com/phonegap/phonegap-plugin-barcodescanner/files/347989/barcode-scaner-error.txt)

[2016-07-05 15:20] daserge commented on #276
@jaassoon, the sample worked fine for me on Android 5.0.1.
I'm going to update SDK tools and retry.

[2016-07-05 15:32] WebeWizard commented on #92
An update from my experience.

My crashes seem to be caused by running out of memory on the device.  I especially noticed the crashes on older devices.  Some of these older devices only have 500MB of available ram which is easily consumed by cordova, maybe a single browser tab, and a native calendar app for example.  Opening the camera + scanner plugin consumes another 100MB+.

When iOS detects yo

[2016-07-05 15:33] daserge commented on #276
Updated SDK, retried on Android 5.0.1 (nothing changed); tried on Android 6 emulator also - works well, `Deny` button does not cause crash, `Allow` opens video preview on successive permission question, recognition works.

[2016-07-05 16:07] christiangoudreau opened #279 "Really hard to scan barcode from older phones."
It's really hard to scan barcode from older phone. Could we scan from a picture instead?

[2016-07-06 12:06] JamesYuCN commented on #10
+1, Please add a option "FLASH":"ON"  , thanks .

[2016-07-06 14:13] bitperbit commented on #57
Hello,

I have the same issue. I would expect that when I run in "cordova run browser" mode the webcam would activate, Instead I get the fallback also.
Please advise.

[2016-07-06 14:29] daserge commented on #57
This is not implemented as you can see [here](https://github.com/phonegap/phonegap-plugin-barcodescanner/blob/master/src/browser/BarcodeScannerProxy.js), i.e. it's only a stub for development/testing purposes currently.

[2016-07-06 14:43] bitperbit commented on #57
Thank you for the replay.
In the README.md it says that Browser is a supported platform. I have assumed that it would mean a complete implementation.

Thanks again

[2016-07-07 08:42] pufanalexandru opened #280 "Native scanner"
I have a PE900S device, which does not have a camera, only a native scanner.
http://img.china.alibaba.com/img/ibank/2015/845/428/2487824548_99755371.jpg

Is there any method to use this to scan barcodes?

[2016-07-07 10:22] vgiacchina opened #281 "IOS freeze cam"
I used this plug-in without any problem with ionic . I recently updated cordova - ios and ionic to the latest versions .
Since I've done the update, the qrcode scanning is no longer working.
9 times out of 10 when I start scanning, the video streaming remain stuck like a screengrab.
This happens only with iOS, can you tell me how to solve this problem ?

Unfortunately I don't have an iPhone, I rec

[2016-07-07 12:19] remauth opened #282 "cordova build android fails using this plugin"
Hello,
I use cordova 6.2.0. The build works with ios and fails with android.
The failure appears only when this plugin is used. See below the messages:

:transformClassesWithDexForDebug
UNEXPECTED TOP-LEVEL EXCEPTION:
com.android.dex.DexException: Multiple dex files define Landroid/support/annotation/AnimRes;
	at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
	at com.android.

[2016-07-08 08:50] Giriton commented on #122
I would also welcome this feature. It could for example "scan until user clicks done/back button" and then return results in array.. What do you think?

[2016-07-08 12:48] pom421 commented on #54
I don't want to keep the beep too... What a pity that it is not customizable in the plugin...

However, following the @cookieguru 's idea, with Ionic 2, I have done :

- create a silence.ogg (with Audacity, generate Silence, export in .ogg)
- ionic hoooks add, if you have not the hooks structure with after_prepare
- create a new file in hooks/after_prepare/030_overwrite_beep_scanner.js
[code]
- ch

[2016-07-08 13:03] remauth commented on #282
Solved. See http://stackoverflow.com/questions/26342444/multiple-dex-files-define-landroid-support-annotation-animres

Just delete the file `/platforms/android/libs/android-support-v4.jar` to make it work

[2016-07-08 13:03] #282 closed

[2016-07-09 00:49] jaassoon commented on #276
attach files are some screenshots about this issue.

![screenshot_2016-07-06-23-20-59](https://cloud.githubusercontent.com/assets/15890333/16705015/e301601a-45b9-11e6-98e3-12093d49900a.png)
![screenshot_2016-07-06-23-24-45](https://cloud.githubusercontent.com/assets/15890333/16705038/25491d46-45ba-11e6-8f94-456a85871754.png)
![screenshot_2016-07-06-23-25-53](https://cloud.githubusercontent.com/ass

[2016-07-11 07:38] fmiboy commented on #167
@JrontEnd thanks your plugin resolved the issue.

[2016-07-11 12:08] Balgam commented on #146
@sarangan12
Would like to contribute any ideas howto implement an overlay with the C [camera_api](https://developer.blackberry.com/native/reference/core/com.qnx.doc.camera.lib_ref/topic/manual/camera_api.h_functions_overview.html) from QNX as the plugin uses.

[2016-07-12 04:54] daniele777 opened #283 "ios 9.3 crash when plug in start..."
In first of all thanks .. i write becouse when i start plugin ios 9.3 crash there is special value or permission to add in xml config? thx

[2016-07-12 09:34] mindr242 commented on #37
I still have this issue with v.6.0.0 of this plugin and Android 5.1.1.

The image in portrait is distorted.

[2016-07-12 21:50] lyurko commented on #36
+1

[2016-07-15 06:23] Smohanapriya commented on #139
<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />

Is helped me to solve my issue. Thank You :)

[2016-07-15 13:37] daserge commented on #55
This is still an issue with some Windows Phone 8.1 upd.1 devices (Nokia Lumia 525).
Continuous scanning results in the error:
[code]

Subsequent scan attempt results in the app and camera driver crash (green screen).

[2016-07-15 13:51] sirius2013 commented on #281
I got similar issue. :(

[2016-07-15 16:22] vgiacchina commented on #281
6.0.0 works, but i have problem in lollipop, now I study why.

[2016-07-16 12:51] yesiman commented on #188
Just test and all is ok thanks !

[2016-07-16 18:59] raymondelferink commented on #80
Would this pull request solve the issue?
https://github.com/phonegap/phonegap-plugin-barcodescanner/pull/145

I don't think it has been picked up by the developers, but I don't know why. In the meantime we are stuck with a non gradle build using version 4.1.0

[2016-07-16 19:15] bampakoa commented on #179
@daserge @iamvau  I tried your suggestions with no potential effect. Please note that I have VS 2015 **Community Edition** and I am running it on a Windows 10 build (**Insider**) in a **Virtual Box** machine. Could this be a problem?
I am starting to think of re-install everything from the beginning as a last resort...

Thanks

[2016-07-18 08:00] kerosin commented on #169
@pke Will you still work on this? If not could you please put your first raw version to a repo?

[2016-07-19 12:19] pixxio opened #286 "The import com.google cannot be resolved"
After installing the newest version (6.0.1) for Android i got the error "The import com.google cannot be resolved" in BarcodeScanner.java (In this line: "import com.google.zxing.client.android.Intents;").
Does anybody know how to solve this problem?
I checked several other issue threads but none of them helped me.
I am using cordova 6.2.0.

Any help is highly appreciated, thanks!

[2016-07-19 14:04] Ponsen opened #287 "Windows 10 crash"
Hi,

I'm having the issue as described in https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/188.

I'm using Cordova 6.3.0, plugin version 6.0.1. My PC is running Windows 10 Home with a Logitech webcam.

Reproducible Szenario:
- create new Cordova-Project
- add Plugin
- run sample function
- crash

I've tested the test app on other computers and it's partially working on them (mostl

[2016-07-19 14:53] Ponsen opened #288 "Surface 3 - focusstate <Not allowed>"
Running the Plugin on a Surface 3 (not Pro) crashes with the following error:

<img width="368" alt="screen1" src="https://cloud.githubusercontent.com/assets/6484343/16954461/3c105dc2-4dd1-11e6-85d0-496b5d3abef5.PNG">
<img width="537" alt="screen2" src="https://cloud.githubusercontent.com/assets/6484343/16954459/3c0ec80e-4dd1-11e6-9584-9ba882a95aec.PNG">
<img width="388" alt="screen3" src="https:/

[2016-07-21 07:21] marck1991 opened #289 "Implementing zoom option?"
Hi all,
would it be possible to add a zoom option/parameter, so barcodes from a longer distance would get recognized?
Best regards

[2016-07-21 15:27] Z3roCoder opened #290 "Can not can Barcode on Windows 10"
Alright, so I have created a sample project. This merely includes those things:

`.controller("ExampleController", function ($scope, $cordovaBarcodeScanner) {
    $scope.scanBarcode = function () {
        $cordovaBarcodeScanner.scan().then(function (imageData) {
            alert(imageData.text);
            console.log("Barcode Format -> " + imageData.format);
            console.log("Cancelled

[2016-07-21 15:32] daserge commented on #290
Is there any errors in console?
Also `alert` is undefined on Windows - you need to use cordova-plugin-dialogs and `navigator.notification.alert` instead.

[2016-07-21 15:33] Z3roCoder commented on #290
I just updated my description

Also, I already noticed. Using console.log instead :P

[2016-07-21 15:34] daserge commented on #290
On which device does this occur?

[2016-07-21 15:39] Z3roCoder commented on #290
On my Windows 10 Workstation, with Developer Mode enabled

[2016-07-21 15:42] daserge commented on #290
Can you try using `cordova run windows -- --arch="x64"` instead of `ionic build browser --archs=x64`?
Are you targeting Windows or Browser platform?

[2016-07-21 15:44] Z3roCoder commented on #290
Same problem occurs.
Also, I am targeting windows platform with preference `<preference name="windows-target-version" value="10.0" />`

[2016-07-21 15:48] Z3roCoder commented on #290
I also have been checking through logs again. Upon first click of the button I get the message
`The property Windows.Graphics.Display.DisplayProperties.NativeOrientation has been deprecated. DisplayProperties may be altered or unavailable for releases after Windows Phone 8.1. Instead, use DisplayInformation.`

And upon second click, I get the message described above. Might that be a reason?

[2016-07-21 16:06] daserge commented on #290
Try opening `Settings -> Camera` and see through the list of the apps capable of accessing the camera - try disabling camera access for them except the Cordova app.
The plugin currently does not seem to handle this situation.

[2016-07-22 04:17] jovi-Li commented on #234
change  line 560 did not work
I delete line 653 worked:
// statusView.setText(getString(resultHandler.getDisplayTitle()) + " : " + rawResultString);

[2016-07-22 06:51] Z3roCoder commented on #290
That is what I did already as well. No App other than my Ionic/Cordova App has access to the Camera.
I verified this by opening the Camera App on Win10, which didnt work
I also verified my App had proper access to the camera by installing the Cordova Camera-Plugin, which enabled me to utilize my Webcam. However, the Camera opened up in a separate Window, I dont know if that might be a problem.

[2016-07-22 07:05] Z3roCoder commented on #264
Is thre any update on this? Two devices (Android 6.0 and 4.4.2) are terribly slow at detecting QR-Codes, the 4.4.2 one detected a code one time and then never again.

[2016-07-22 07:19] pke commented on #264
I don't know. I suggest to use 3.1 for the time being. It has the fastest qrcode detection.

[2016-07-22 07:22] Z3roCoder commented on #264
Is there not any drawback to it? I am going to need to target Android, iOS, and Windows Universal Apps (Windows10/WinPhones)

[2016-07-22 07:47] pke commented on #264
Well the drawback is that the Windows implementation is shit. It uses no steady video stream but instead makes "photos" in intervals and tries to detect the QR code. On the other platforms it runs just fine

[2016-07-22 12:14] drdpedroso commented on #234
Take a look at this fork: https://github.com/drdpedroso/BarcodeScanner
It has a white square for QR Code reading and the prompt is not showing.

[2016-07-22 20:39] oxydron opened #291 "Do not work on Android 6.0.1"
Followed this tutorial here: https://www.youtube.com/watch?v=4EbXrugC3q0
Compiled for android 5.1.1.

[code]

The error message says (translated from portuguese) _"Sorry, the Android camera found a problem. It may restart the device."_

[2016-07-25 08:10] Z3roCoder commented on #290
Any update on this?

[2016-07-26 06:30] detectivemerry commented on #286
Also having this problem

[2016-07-26 09:05] MrScript opened #293 "please ,need help,when i invoke scan method,the app forced close and exception like this,anyone have any idea?"
07-26 17:01:30.074  32309-32309/com.pengqi.ios.union E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.pengqi.ios.union, PID: 32309
    java.lang.NoClassDefFoundError: Failed resolution of: Lbarcodescanner/xservices/nl/barcodescanner/R$layout;
            at com.google.zxing.client.android.CaptureActivity.onCreate(CaptureActivity.java:142)
            at android.app.Activity.performCreate(A

[2016-07-26 10:24] IgorVanian opened #294 "Android menu crash"
So, there was this issue before this repo became official:

https://github.com/wildabeast/BarcodeScanner/issues/11

And it was fixed then (menu items removed from android).
However, the crash still happens in this version (supposed to be fixed?).
Is there a way to remove this menu or will it be fixed in the near future?

[2016-07-27 08:21] MrScript commented on #175
@EddyVerbruggen ,Hi, do you have any idea about this exception?
java.lang.NoClassDefFoundError: Failed resolution of: Lbarcodescanner/xservices/nl/barcodescanner/R$layout;

[2016-07-27 14:27] guimapalmeira commented on #246
Hi,
I use cordova 6.1.1. (Win 7) too and have the some problem.
build android or run android take a long long time, after install the plugin.
The only workaround is downgrade to cordova 4.1.0?

[2016-07-27 15:05] prober996 commented on #291
I am getting the same error message using 6.0.1 on a Galaxy Tab A, installed platform android 5.1.1:  "Sorry, the Android camera encountered a problem. You may need to restart the device".  Restarting the device does not cure the problem.  The plugin does work with the same app build on a Samsung tablet running 4.4.

[2016-07-27 15:13] pixxio commented on #286
@daserge
You don't have any clue, do you?

Thanks in advance,
pixxio

[2016-07-27 16:12] prober996 commented on #291
Just found a work-around from post #139, which worked for me:

[2016-07-28 10:06] detectivemerry opened #296 "How to save the result into a variable from Barcodescanner?"
Hi, I am new to phonegap and have just successfully installed the Barcode scanner plugin and made it work. However, I am having problems of saving the result of the scan into a variable in Javascript. I have followed lots of answers on StackOverflow on how to, but cant seem to get it working. I am aware I have to either use Callback or AJAX to retrieve result but I am having trouble on both. For c

[2016-07-28 10:23] jcesarmobile commented on #296
No, ajax doesn't make any sense in your case, the question you link wanted to send the scanned result to the server, so he was advised to use ajax to do so. In your case you don't want to send it to the server (or you didn't told us that). Ajax is for sending or receiving information to/from the server, and the scan result doesn't come from the server.

I think you just have to change your code to

[2016-07-28 10:23] #296 closed

[2016-07-28 13:05] CFerndp commented on #272
HI,

i'm use this in android app when i can't press a hardware backbutton. How can i do this in code? Thanks.

[2016-07-28 13:34] vladimir-kotikov commented on #264
@pke, what are you saying isn't true, at least for Windows 10. The plugin has been reworked to use new APIs, available on Win10, so no "photos" anymore :)

[2016-07-28 13:45] vladimir-kotikov opened #297 "Plugin consumes a lot of memory on Windows devices w/ hi-res cameras"
On Lumia 1520, which has 20 MP camera, blank app with no JS code apart from plugin usage sample from README and no other plugins installed takes approx. 350~400 Mb of RAM after it starts scanning barcodes. JS heap dump shows that `<video>` element that shows camera preview takes about 85 Mb of RAM.

Although this is not a leak and all memory is released after scan is cancelled, this might be a pot

[2016-07-28 19:10] pke commented on #264
I was referring to the last really good working version, 3.1.0. With it qr codes are detected fast. But the Windows implementation in that version is shit. So not untrue at all.

[2016-07-29 06:54] vladimir-kotikov commented on #264
Ah, sorry. That makes sense :)

[2016-07-30 09:51] circleride opened #298 "PhoneGap Build error"
In  Latest PhoneGap Build version:
https://build.phonegap.com/current-support

PhoneGap (iOS / Android / Windows)
cli-6.3.0 (4.2.0 / 5.2.1 / 4.4.1)

`Error - Plugin error (you probably need to remove plugin files from your app): Fetching plugin "phonegap-plugin-barcodescanner" via npm Installing "phonegap-plugin-barcodescanner" at "6.0.1" for windows Error during processing of action! Attempting t

[2016-08-01 04:22] shinjo77 opened #299 "Android orientation does not seem to work"
I used the plugin to create some sample QR code scanner.

Which I basically copied given code to index.js.
Problem is it doesn't seem like options are registering at all.
Reading the QR code works fine, but I want to show it as portrait not landscape.

is there anything I missed or done something wrong?
https://github.com/shinjo77/QRreader
Can anyone hint me what I have done wrong?

thank you

[2016-08-01 07:09] Z3roCoder opened #300 "Scanner problems on devices with high resolution"
Hello! I experience a frustrating problem right now.
I own a Samsung Galaxy S7 Smartphone and am trying to use the scanner with it, but have two problems with it.
The first one beeing the actual "Scan-Window" beeing terribly small, so its very hard to actually get the QR-Code into the window at all.
The second problem is that the moment I go into portrait mode, the whole image looks weird distorte

[2016-08-02 21:58] jcesarmobile commented on #270
No, that is for reading variables passed on plugin install, but I think it's a good option to do it with a variable.
I've sent a PR to the contacts plugin following this approach because it has the same problem, you can take a look.
https://github.com/apache/cordova-plugin-contacts/pull/131

[2016-08-03 01:48] #299 closed

[2016-08-03 01:49] shinjo77 commented on #299
My bad
- did not update the config.xml
it was pulling old version
<plugin spec="https://github.com/phonegap/phonegap-plugin-barcodescanner#6.0.1" />

[2016-08-03 03:03] Bouzmine opened #301 "Error callback not called on first error with version 6.0.1"
As stated in title, the error callback isn't called on first `scan` call (when there's an error). It was working with 5.0.1.

[2016-08-03 05:45] daserge commented on #301
@Bouzmine, thanks for reporting.
Could you please add details on what platforms are affected and a minimum sample to reproduce it?

[2016-08-03 14:48] Bouzmine commented on #301
@daserge Platform is iOS. I simply called `scan` with no options except the success and error callback. I disabled the permission for the camera for my app and that's why I expect an error to be triggered. It triggers this error the second time.

[2016-08-03 22:17] jcesarmobile commented on #301
Is there an easy way of making the plugin fail?

[2016-08-03 23:00] jcesarmobile commented on #301
I've sent a PR that call error callback if the app doesn't have permission to use the camera

https://github.com/phonegap/phonegap-plugin-barcodescanner/pull/302

But it's strange that it worked on v5 as it has never checked the permission

[2016-08-03 23:13] jcesarmobile commented on #291
which plugin version do you have installed?

type `cordova plugin ls` and paste here the results

[2016-08-03 23:14] jcesarmobile commented on #286
Where do you see this error?

[2016-08-03 23:15] jcesarmobile commented on #283
Can you add more information? plugin version, cordova version, device model, code used

[2016-08-03 23:15] #281 closed

[2016-08-03 23:43] jcesarmobile commented on #214
I saw that your problem was a form submitting, so closing this issue

[2016-08-03 23:43] #214 closed

[2016-08-03 23:45] jcesarmobile commented on #215
I can't reproduce the issue, I can scan after switching a few times.
Can you provide more information?

[2016-08-03 23:46] jcesarmobile commented on #229
It doesn't crash anymore, closing the issue

[2016-08-03 23:46] #229 closed

[2016-08-03 23:51] jcesarmobile commented on #238
I can't reproduce the issue

Can you try latest version of the plugin and/or provide a sample where it fails?

[2016-08-03 23:53] jcesarmobile commented on #274
I have just tested and worked fine.

Can you provide your phonegap version?

[2016-08-04 00:06] oxydron commented on #291
cordova-plugin-compat 1.0.0 "Compat"
    cordova-sqlite-storage 1.4.6 "Cordova sqlite storage plugin"
    phonegap-plugin-barcodescanner 6.0.1 "BarcodeScanner"

[2016-08-04 00:26] pixxio commented on #286
In eclipse.
For example when tell eclipse to build a .apk file.

Am 04.08.2016 um 01:14 schrieb jcesarmobile <notifications@github.com<mailto:notifications@github.com>>

Where do you see this error?

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/286#issuecomment-237403909>,

[2016-08-04 00:31] devotebest commented on #281
this issue is fixed really?

[2016-08-04 01:27] Bouzmine commented on #301
I think it worked in v5 because it called the error callback when an error occurred (this behavior might have changed between the two versions)

[2016-08-04 07:40] jcesarmobile commented on #281
The person who opened the issue said that it works on 6.0.0 and I couldn't reproduce the issue, so I assume it's fixed.

[2016-08-04 07:56] jcesarmobile commented on #286
The plugin is no longer compatible with Eclipse.
With Cordova you shouldn't use any IDE, just the CLI, but in case you wan't to use one, it should be Android Studio as Google deprecated Eclipse long time ago.

The reason for your error is the plugin now uses a .aar instead of a .jar for zxing (the library used to read bar codes)
https://github.com/phonegap/phonegap-plugin-barcodescanner/blob/maste

[2016-08-04 07:56] #286 closed

[2016-08-04 07:58] jcesarmobile commented on #291
Did you allow your app to use the camera permission?

[2016-08-04 07:59] #262 closed

[2016-08-05 17:20] abcd-ca commented on #225
@jmloveyj I need to pursue adding a button as well. I assume you mean, it's not possible because there's no API to add a button. If I modify the source to add an API, I assume it is possible. Would you please verify?

[2016-08-05 17:28] asdrubalivan commented on #279
Scanning from a picture is not supported according to the documentation. I'm having the same problem with a Samsung Galaxy GT

[2016-08-05 18:38] abcd-ca commented on #122
@Giriton I have just implemented such a workaround. I don't think it's quite as fast or elegant as just leaving the camera open but it does work. On iOS 9.3, the done button returns me to my Web UI, same with a Google Nexus 4 running Android 5.x. My "Samsung Galaxy Tab A" has a weird thing where if I tap the hardware back button to cancel, it closes the camera UI but also triggers a back call in t

[2016-08-08 16:40] liamcooper commented on #298
I'm also having this problem, so would be interested in how to sort it. Can provide config.xml if required.

[2016-08-10 05:38] heshan-nibaya commented on #10
+1

[2016-08-10 06:34] tranhieutt commented on #238
Today, I still can't scan QR code with iPhone 6 iOS 9.3.3

[2016-08-10 21:40] Bouzmine opened #304 "Crash on iOS on low memory devices"
The scanner crashes on low memory devices (a 5th generation iPod Touch in my case which has 512 MB of RAM). This prevents me from releasing my app (I think this is a major issue).

Citing @webewizard in #92 (which is now closed) :

Version : 6.0.1

[2016-08-11 03:23] poychang commented on #139
This plugin work with me.
https://github.com/dpa99c/cordova-diagnostic-plugin#requestcameraauthorization
It's android device permissions problem.

[2016-08-11 13:41] teunsteenbekkers commented on #238
I'm having this issue as well.

Version 6.0.1 of the plugin, not using the options parameter(s).

Android works just fine, as do other apps with barcode scanning functionality.

This problem seems to happen mostly on iPhone 6 and iPad. Both with iOS 9.3.4 installed. Haven't been able to try out other devices myself.

[2016-08-11 14:12] darkdante83 commented on #298
Same problem

Build Date: 2016-08-11 14:09:28 +0000
--------------------------------------------------------------------------------
PLUGIN OUTPUT
--------------------------------------------------------------------------------
Installing "org.apache.cordova.device" at "0.3.0" for windows
Fetching plugin "cordova-plugin-inappbrowser@1.4.0" via npm
Installing "cordova-plugin-inappbrowser" at "1.4.0

[2016-08-11 14:36] darkdante83 commented on #298
I did some testing. Everything is working fine with cli-6.1.0 and lower. So cli-6.2.0 and cli-6.3.0 are not working  with  the plugin. It does not matter what plugin version you are using, all versions are not working on these phonegap versions.

[2016-08-11 18:42] phoxoey opened #305 "Encode not working on Android"
I build for iOS and test and encoding a QR Code works fine and I can see the tmp jpeg image in the file system. But when tested on Android (version 5.0.2) I get no build errors, no errors when it runs the encode function but no image in the file system and it never runs either the success function or the error function.

[2016-08-11 19:00] phoxoey commented on #305
I just updated the plugin version to 6.0.1 from 5.0.0 and now iOS has the same problem, no image.

[2016-08-11 20:59] narrowfail commented on #298
Same error over here!

[2016-08-13 21:09] halmechanic commented on #10
+1

[2016-08-15 06:47] 312977 opened #306 "Non-whitespace before first tag"
when i excute:ionic plugin add https://github.com/phonegap/phonegap-plugin-barcodescanner.git

get:
Fetching plugin "https://github.com/phonegap/phonegap-plugin-barcodescanner.git" via git clone
Repository "https://github.com/phonegap/phonegap-plugin-barcodescanner.git" checked out to git ref "master".
Installing "phonegap-plugin-barcodescanner" for android
Installing "cordova-plugin-compat" for a

[2016-08-17 05:36] #306 closed

[2016-08-17 10:53] tranhieutt commented on #238
So, i decide to use :
[]https://github.com/TheLevelUp/ZXingObjC

to create plugin for cordova, it fast and can scan many bar code type/format.

[2016-08-17 14:05] riddler2kone commented on #298
same here :(

[2016-08-18 11:14] uaza commented on #305
I have the same issue with plugin version 6.0.1 on Android 5.0.2 and 6.x, iOS works fine. Have you already found a solution?

[2016-08-18 12:29] phoxoey commented on #305
Couldn't find a solution to making it work on Android. My app interacts with a NodeJs server so I found a NodeJs module called "node-qr-image". It produces an SVG object and returns. Then I construct the SVG image with simple HTML. So long story short, I'm creating the image on the server instead of the phone.

[2016-08-18 15:08] uaza commented on #305
Ok, thanks for the information!

[2016-08-18 18:04] wmakdesi commented on #225
+1

[2016-08-19 02:40] BigMurry commented on #37
I still have this issue with v6.0.1 for portrait mode.
ps: Build for Android 5.1.1

[2016-08-19 23:21] macdonst opened #308 "Update barcode scanner to use gradle/maven to pull in dependencies"
Instead of using our own .gradle and .aar file we should be installing these dependencies directly from maven. As per the instructions at:

https://github.com/journeyapps/zxing-android-embedded/#adding-aar-dependency-with-gradle

[2016-08-22 09:38] EminDemiri opened #309 "app crash on ios 9.3 when plug in start"
Hello to all.

I just finished an application created with indel XDK.
the application is launched but when I go to start the plugin for scanning the barcode the app is closed.
The first time the system was launched asked permission for the room after which it is closed without giving errors.

What can I do to fix?

IntelXDK version: 3491
Cordova version: 5.4.1

[2016-08-25 10:30] cvaliere commented on #233
@EddyVerbruggen I can confirm that this plugin overrides any preference that we put in our config.xml, which seems to me as an obviously bad behaviour

can you remove the line, as suggested here? #275

thanks a lot!

[2016-08-25 15:12] JohnBrooking opened #310 "iOS WebThreadLock crash on barcodeScanFailed"
I recently upgraded to 6.0.1 from a much older version (~2013), and have begun experiencing an occasional crash on iPhone, especially when scanning in landscape mode.

I think I may have figured it out, but I'm pretty new to iOS and mobile programming, and am only reading about dispatch queues this morning! (I did not write the app I'm working on, just modifying it.)

The debugger message is

The

[2016-08-25 16:18] Hypher commented on #300
Your screenshots are 404, did you solve your problem?

[2016-08-25 16:39] JohnBrooking commented on #310
I am happy to report that I appear to have fixed the problem!

I simply replaced this code in **CDVBarcodeScanner.mm**
[code]
with
[code]
I confirmed that when _barcodeScanFailed_ is called now (which it still is sometimes, but that's a different issue), it is still in the same secondary thread as the capture session, but its call of _barcodeScanDone_ now takes place in the main thread, as do all

[2016-08-25 16:50] shawnlehner opened #311 "Trouble scanning CODE_128 format barcode for VIN"
Problem:
Scanner is not recognizing CODE 128 format barcode. I have uploaded an example image that I am attempting to scan.

Description:
I am working on a VIN (Vehicle Identification Number) scanning application and I am having trouble scanning CODE 128 barcodes. I think this could be due to the high density nature of the barcode itself, but I was hoping someone could provide some input on this.

[2016-08-25 17:43] EddyVerbruggen commented on #310
@JohnBrooking That's great news! Are you up for a little PR with that change?

[2016-08-25 17:49] JohnBrooking commented on #310
Sure, if you agree that it's correct.

[2016-08-25 17:55] EddyVerbruggen commented on #310
I do, it makes a lot of sense to me. That and the fact you no longer see the crash 😉

[2016-08-25 21:46] jlowe234 opened #312 "Memory leak on iOS 10 devices"
There appears to be a memory leak occurring when using the scanner against iOS 10 devices.

I've created the following test case that allocates/deallocates successfully on an iPad with iOS 7.1.2, but will never dealloc the scanner on iOS 10.

Here's the app that I used in my test.  Just a standard Cordova (5.3.3) + barcodescanner (6.0.1) with the following index.html.

[code]

[2016-08-29 19:53] sbasi5576 opened #313 "Barcode scanner works for iOS but not Android"
I have an Ionic app that has the Cordova Barcode Scanner to scan the UPC number. It works fine on iOS and returns the results as expected. However on Android Marshmallow 6.1 tablet it scans and shows the message Product found on the camera screen but doesn't return any values to my view as expected. I have scanned through my entire app and no where I have the text Product found. Not sure what is t

[2016-08-29 22:41] jlowe234 commented on #312
I'm not entirely certain how to resolve something like this.  Here is some of the information that I've found so far.  I upgraded cordova to the most recent version and attempted to rebuild this app and encountered the same problem.

You can see based on the memory report between ios 10 and 7(and 9) that something is really not right.  The first memory report is from the iOS 10 device I'm testing

[2016-08-30 11:13] Anuj-786 commented on #313
I have implemented barcodeScanner/qrScanner and i tested it on Android Marshmallow 6.1. It works fine for me. what is the specific error  and would you like me to post any screen-shot or code snippet ?

[2016-08-30 13:18] ben-8409 commented on #275
I am affected by this as well and i took me hours to find out what was happening until i manually removed and re-added all plugins to find out.

I looked at @gustavocampos work and tried to improve by online setting the ext.cdvMinSdkVersion if not yet set or smaller then the current minSdkVersion for this plugin. For me, this fixes the issues.

[2016-08-30 13:22] gustavocampos commented on #275
@ben-8409 does it works with Adobe PhoneGap Build?  If yes, can you explain how to change it online?

[2016-08-30 13:25] ben-8409 commented on #275
@gustavocampos I tried with cordova. How can you tell me the minimal steps to test in phonegap?

[2016-08-30 13:30] gustavocampos commented on #275
@ben-8409 the problem with PhoneGap Build is that you cannot change much during the build process, any changes you made for manifest are lost if some plugin overrides it, the build is done online on Adobe servers.

You'd have to create a project there https://build.phonegap.com/ and do some changes in your config.xml, don't bother doing it I was just curious about how you built the package.

[2016-08-30 13:43] ben-8409 commented on #275
This is how I tried to verify in phonegap:

1. Install Phonegap CLI (npm install phonegap-cli
2. Create a demo app with phonegap create
3. Add and build android.
4. Verify minSdkVersion on the package using aapk. Result 14.
5. Add the plugin and rebuilt the package.
6. Verify minSdkVersion on the package using aapk. Result 15.

However, it seems settings in config.xml are still ignored. So this is

[2016-08-30 16:25] sbasi5576 commented on #313
@anuj-786 it doesn't spit an error.  It scans but doesn't assign it to the scope or if I do an alert for image.text nothing pops up.  Looks like it calls google products api and returns a message Product found and goes back to the parent view

[2016-08-30 19:18] #275 closed

[2016-08-31 04:28] sbasi5576 commented on #313
Below is my code that works fine for iOS but not Android

$cordovaBarcodeScanner.scan().then(function(imageData) {

                  $scope.cancelled = imageData.cancelled;

if($scope.cancelled === 0) {

        $scope.produpc = imageData.text;

        var myupc = $scope.produpc;

        console.log('UPC Number is ' + myupc);
}

Other actions including a web service call.

[2016-08-31 04:33] sbasi5576 commented on #291
@jcesarmobile  The barcode scanner automatically doesn't ask for the permissions to use the camera on Android 6.1   Instead you have to take a picture with the the app to opt in.

[2016-08-31 09:01] Anuj-786 commented on #291
hey @sbasi5576 the Android 6.1 app do not ask about permissions. But permission is required you have to write the code for permission otherwise camera will not work.

[2016-08-31 09:07] Anuj-786 commented on #291
@sbasi5576 use this code to resole the problem:
`barcodescanner.hasCameraPermission().then(
    function(granted) {
      // if this is 'false' you probably want to call 'requestCameraPermission' now
      console.log("Has Camera Permission? " + result);
    }
);

// if no permission was granted previously this wil open a user consent screen
barcodescanner.requestCameraPermission().then(
    funct

[2016-08-31 09:36] Anuj-786 commented on #313
ok I got your details. before that i want to ask you that this is working fine with simple barcode or not working for all types.

[2016-08-31 10:45] Anuj-786 commented on #313
Please follow this link it will help you.
https://www.thepolyglotdeveloper.com/2014/09/implement-barcode-scanner-using-ionic-framework/

[2016-08-31 13:44] d3orn commented on #305
I am having the same problem. It looks like Zxing is not loaded/used correctly. Everything works with iOS

[2016-08-31 14:11] sbasi5576 commented on #313
It doesn't work for s simple barcode such as upc or upc-a.  The problem is for android only.  If you look into the xml files that come with android version of the plugin it has references to google products and books.  It means there has to be configuration options to disable them.  What device are you testing on?  The example you have posted above works for iOS but not android.

[2016-08-31 23:00] jlowe234 commented on #312
I've noticed that there appears to be a rather large IOKit allocation in the VM that i'm not sure where it's coming from. You can see here from the VM Summary that with the iPad it is not allocating these 100 MiB chunks, but does so in iOS 10. I'm still not really that sure where this is coming from or what would force these extra calls. It's every time the scanner is executed that one of these 26

[2016-09-01 04:06] maduperera opened #315 "Resizing and embeding the camera view"
Hi,
Is it possible to resize the camera view without taking the whole screen so that I can embed the camera view in an existing Ionic screen/page (.html).
Perhaps, can you please advise me of what I should do.

Thanks.
Regards,
Madusha

[2016-09-01 04:06] maduperera opened #316 "Resizing and embeding the camera view"
Hi,
Is it possible to resize the camera view without taking the whole screen so that I can embed the camera view in an existing Ionic screen/page (.html).
Perhaps, can you please advise me of what I should do.

Thanks.
Regards,
Madusha

[2016-09-01 04:08] #316 closed

[2016-09-01 04:12] maduperera commented on #316
Sorry this question was asked twice by mistake, so I closed this last duplicated question #316.

[2016-09-01 05:24] sbasi5576 commented on #313
Anuj - I tried it for Android 5.1 as well.  Same issue.   You can see this Product found message.  I have search through my app code as well as the code for my apis.  None works.   Please see the URL below:

[https://drive.google.com/open?id=0B81YQAjfP0R2VmU2V1I1QTg3NWc](url)

Also see the iOS version of it that is fully functional:

https://drive.google.com/open?id=0B81YQAjfP0R2RkhEeVlOVUlLUmc

P

[2016-09-01 07:39] lovelyelfpop opened #317 "[self barcodeScanDone] in flipCamera throws an exception and app crashed on ios"
instance method "-barcodeScanDone" not found (return type defaults to 'id')

[2016-09-01 07:56] lovelyelfpop commented on #317
it should be [self barcodeScanDone:^{}]

[2016-09-01 08:03] jcesarmobile commented on #315
No, it's not possible.
There is another issue asking for it https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/69

[2016-09-01 08:03] #315 closed

[2016-09-01 08:24] maduperera commented on #315
Oh, Ok.

[2016-09-01 09:08] vladimir-kotikov commented on #288
@Ponsen, unfortunately i don't have a Surface 3 at hand to reproduce the problem and verify the fix, so it'd be great if you could check #318 and let me know if it works for you. Thanks.

[2016-09-01 14:10] EddyVerbruggen commented on #233
@cvaliere done!

[2016-09-01 14:30] cvaliere commented on #233
@EddyVerbruggen thanks a lot
I looked at the commit, it's even better

[2016-09-01 15:32] Ponsen commented on #288
Yes, it's working now like a charm.
Thank you!

[2016-09-01 15:32] #288 closed

[2016-09-01 17:16] sombriks opened #319 "build failing on android when using this plugin with crosswalk"
After several hours removing and re-adding  plugins and platforms, i've narrowed my problema to those specific (yet not unusual) plugins combination:

every time i try to build it for android, i get this error:

The saddest part is that error message is misleading. The generated AndroidManifest.xml project have minSdkVersion set to 16, yet this plugin combination argues that it is 15. there is a 1

[2016-09-01 17:31] sombriks commented on #319
narrowedi it to **barcodescanner.gradle**, in the following line:

looking at HEAD revision i undersand that it might be solved already.

i'll test master and confirm there.

[2016-09-01 17:41] sombriks commented on #319
Hello,

i can now confirm that head version restored the builds containing crosswalk plugin.

i'm using #master for now, however a release would be vastly appreciated.

[2016-09-01 19:10] mohlemeyer commented on #312
(Probably) the same issue here: I have an Ionic app with this plugin which works flawlessly on iOS 9. The same app on iOS 10 crashes on the 5th or 6th scan. When running the app from Xcode on the device, the error message in the output window is:

`Message from the debugger: Terminated due to memory issue.`

Looking at the memory consumption, the app starts out with about 35 - 50 MB and on each sc

[2016-09-01 19:59] jlowe234 commented on #312
I don't even get the message from the debugger with my testing.  It just crashes the connection and shows nothing.

I have however found that the leak of 100 MiB per scan is tied to this line in the -setUpCaptureSession method:
`    NSDictionary* videoOutputSettings = [NSDictionary
                                         dictionaryWithObject:[NSNumber numberWithInt:kCVPixelFormatType_32BGRA]

[2016-09-02 04:23] sbasi5576 commented on #313
Turns out a very silly issue that is OS specific caused it to fail. iOS handles false as a 0 and android as a text string false.   I just had to put this condition and it worked.

if($scope.cancelled === 0 || $scope.cancelled === false)

[2016-09-02 04:23] #313 closed

[2016-09-02 06:57] seematalanki opened #320 "Build error on universal windows platform"
Hi
I am using Visual Studio 2015 for Cordova Tools to build an app that targets Windows Universal (UWP). But build is failing with below error.
The OutputPath property is not set for project 'ZipWinProj.csproj'.  Please check to make sure that you have specified a valid combination of Configuration and Platform for this project.  Configuration='debug'  Platform='x86'.  You may be seeing this messa

[2016-09-02 12:59] JToto opened #321 "Release-Build problems on Windows 10"
Hello,

I am trying to get this plugin working on an Ionic App on Windows 10. I am therefore using Visual Studio.
Steps I have done:
- Installed phonegap-plugin-barcodescanner via config.xml editor in Visual Studio
- Selected "Debug", "Windows-ARM" and run it on "Device" (Lumia 550)

--> Works perfectly. Can scan QR-Codes without any problems.
- Selected "Release", "Windows-ARM" and run it on "Dev

[2016-09-02 13:38] sebastianor opened #322 "Windows 10 ZXing is undefined"
I'm trying run scanner in my Lumia550 with Windows 10. When the scanner is running i get output error

I'm trying remove plugin and add it,   but it not helps. My Cordova version is 6.3.1. Thanks for help.

[2016-09-02 14:34] lesion commented on #312
It's the same here with an iOS 9.3.5:
after ~30 scan the app crash.
Temporary solved using [Telerik-Verified-Plugins/BarcodeScanner](https://github.com/Telerik-Verified-Plugins/BarcodeScanner)

hope this helps..

[2016-09-02 15:34] lesion commented on #312
ok, don't know why, but removing the animation breaks everything again (always after ~30 scan) -> 3d8e3922d8ee79cc5a030c36ee59efb1ea1ac234

I think could be something here (check the differences):

[phonegap/src/ios/CDVBarcodeScanner.mm](https://github.com/phonegap/phonegap-plugin-barcodescanner/blob/master/src/ios/CDVBarcodeScanner.mm#L339)
[code]

[telerik/src/ios/CDVBarcodeScanner.mm](https://g

[2016-09-02 19:22] jlowe234 commented on #312
I saw no change with what you mentioned here.  The difference between the Phonegap and Telerik versions of the scanner is how they perform the barcodeScanDone event.  That was the only change I saw between the two.  Regardless of that, I was still able to encounter the small memory leak with the scanner.

There still appears to be something around a 10 MB allocation that I cannot find and cannot s

[2016-09-05 14:51] mazinc commented on #156
Hi,
I'm interested by this functionnality? Is this development planned or not ?

[2016-09-05 15:42] macdonst commented on #317
Fixed by PR #307.

[2016-09-05 15:42] #317 closed

[2016-09-06 03:18] zhang037830 commented on #38
@deckerj  Thanks for sharing
                 Has been resolved

[2016-09-06 09:26] vrt0r opened #324 "IOS 9.3.5 + 9.3.4 crashes on click on camera symbol"
Tested on IPad 3, IPhone  5s, IPhone SE and IPad Mini 2

[2016-09-06 09:32] jcesarmobile commented on #324
You mean the button to switch the camera from back to front?

[2016-09-06 09:43] jcesarmobile commented on #280
This plugin is to use the phone camera to scan the barcodes, you should check if the device vendor offers some kind of SDK to use the barcode, or maybe it's even ready to just fill the data on some form field where you have the focus.
But that is out of the scope of this plugin, so I'm closing the issue

[2016-09-06 09:43] #280 closed

[2016-09-06 09:50] vrt0r commented on #324
Im not sure (because it crashes) lower right corner there is an camera symbol. When i click on it, it crashes.

Im not sure if you have to click on the camera to take a photo to scan a code ? Because i tried with a lot of different codes and it never recognises any code. On Android it works perfect on all tested devices.
Thats why i thought the camera button is to take a photo and after that the p

[2016-09-06 09:51] #274 closed

[2016-09-06 09:54] jcesarmobile commented on #277
Fixed with #277

[2016-09-06 09:54] #277 closed

[2016-09-06 09:54] #301 closed

[2016-09-06 09:56] jcesarmobile commented on #215
Closing because there was no response and I can't reproduce with latest version

[2016-09-06 09:56] #215 closed

[2016-09-06 09:58] jcesarmobile commented on #110
On iOS and Android you can use the option "showFlipCameraButton", set it to false to not show the button.

[2016-09-06 09:58] #110 closed

[2016-09-06 10:20] jcesarmobile commented on #270
#271 was merged, but I'm not closing this yet as I think we should add a way to provide the UsageDescription instead of using an empty string

[2016-09-06 11:19] pke commented on #270
Can't this be solved by using a plugin variable or better a preference?

[2016-09-06 11:28] jcesarmobile commented on #270
Yes, it can be solved using a plugin variable, see the PR I linked contacts plugin.
But sadly no, a preference can't be used, I tried and didn't work

[2016-09-07 08:28] jcesarmobile commented on #270
BTW, you can add the variable on the config.xml

This is what is added when you install the camera plugin with the variable and the --save param. I've tried to add that on a new empty project, just adding this lines on the config.xml and when I add iOS platform the plugin is added and the variable is passed.

[code]

[2016-09-07 13:54] Mole93 commented on #312
I don't think so that the callback on barcodeScanSucceded is the problem. I think could be a issue of iOS 10 that doesn't release the memory because in iOS 9 it's working fine. We can see at the fallowing link https://forums.developer.apple.com/thread/61620 that other developers have a problem with the AVCaptureSession that it is a class that the library uses.

I have another seem issue with the i

[2016-09-07 14:06] jlowe234 commented on #312
That forum post is my post regarding this issue.  As for the issue appearing on other platforms, I have an ancient iPad (i think first gen) and an iPhone 5c that were running the scanner without issues.  It sounds similar to what I'm encountering on iOS 10, although I'm not specifically encountering the issue.

The biggest problem so far that I've found is tied to the video output settings.  That

[2016-09-07 14:13] macdonst commented on #270
@jcesarmobile can you take a look at my latest commit. I believe it resolves this issue but I want a second opinion. If it LGT you close this issue and maybe we can do a new plugin release.

[2016-09-07 14:19] jcesarmobile commented on #270
Yes, it looks good, closing.

[2016-09-07 14:19] #270 closed

[2016-09-08 14:06] #297 closed

[2016-09-08 20:51] chrstr opened #325 "phonegap-plugin-barcodescanner in npm is version 4.1.0?"
### Expected Behaviour

Doing something like:

cordova plugin add phonegap-plugin-barcodescanner

would pull in the latest version (6.0.2)

### Actual Behaviour

Pulls in version 4.1.0

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)

#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)

#### Cordova

[2016-09-09 14:08] Mole93 commented on #312
Hello guys,

I investigated for this issue and i found the problem on the c++ class.
A lot of objects are still in the memory also when barcode viewcontroller is closed (to see the picture below).
![screen shot 2016-09-09 at 15 01 07](https://cloud.githubusercontent.com/assets/11760456/18389540/4c84b720-769e-11e6-9fa3-f254ee426ae5.png)

So we must delete those files because every time that we open

[2016-09-10 06:28] mohlemeyer commented on #312
The problem persists with iOS 10 final and plugin version 6.0.2.
With an iPhone 6s Plus the app dies on the third scan.

[2016-09-12 11:10] vrt0r commented on #324
Ok in the Release , installed over Testflight the Button works, and it just switches the camera (front / back).
It crashed on all devices when i compile over VS2015 to the device.
But, no matter if it crashes or not, i was not able to scan any code.
I tested an QR Code and an different Barcodes.

[2016-09-12 12:15] Mole93 commented on #312
Guys i created a new plugin and i fixed this issue.
To use it you need to delete the native classes and to add my classes and you can see the difference.

[Mole93/plugin-barcode-ios](https://github.com/Mole93/plugin-barcode-ios)

[2016-09-13 02:21] startupfoundry commented on #312
@mole93 could you submit a PR to the main project to fix the memory leak? Thanks for your work!

[2016-09-13 08:00] Mole93 commented on #312
@startupfoundry I can't because i changed completely the core logic of this plugin.
I deleted all classes (native) of this plugin and i copied the interface with javascript after i integrated this barcode library (MTBBarcodeScanner) as core of my plugin.
So i think that i can't create a PR with my fixed but i ask you to try my plugin and you can see the difference. It's faster and it uses only 3/4

[2016-09-13 19:31] jlowe234 commented on #312
Based on what I can see from @Mole93's branch and the plugin he cloned, it looks like I might have a working code base to resolve this issue.

I'm not entirely sure if it won't provide other issues, because the core of his alternate scanner logic uses an AVCaptureMetadataOutputObjectsDelegate and the underlying metadataOutput structure to replace the AVCaptureVideoDataOutputSampleBufferDelegate an

[2016-09-13 19:32] startupfoundry commented on #312
@jlowe234 awesome. Thanks for your work on this guys!

[2016-09-14 08:59] bampakoa commented on #179
Hi folks,

I have not find any potential solution yet to this problem, and since our product roadmap does not include this feature in the near future, I will close this issue.

Thank you all for your help. In case something changes, I will come back to this.

[2016-09-14 08:59] #179 closed

[2016-09-15 13:30] LintonDevEasy commented on #325
These plugins are so frustrating...

[2016-09-16 19:51] dkaskoun opened #327 "Issue with using scanner the first time (after allowing permission)"
So, I'm having some issues with the scanner the first time it runs on a device and asks for access to the camera.

Basically what happens, I launch the app, and I click on my test button to bring up the scanner. It runs the scan function, and then ios prompts me to allow access to the camera. I tell it yes. After allowing it, however, the scanner never actually comes up (and actually, the white ba

[2016-09-17 03:34] thomaspessato commented on #37
I'm having this issue too. Build for Android 6.0.1.

[2016-09-17 20:07] michaljakubowski commented on #270
Is there a possibility to set different messages for each language?

[2016-09-19 17:28] sriram6781 commented on #89
Change the delay from 1 second to 0 seconds fixed the issue for me.
[self performSelector:@selector(openDialog) withObject:nil afterDelay:0];

[2016-09-20 00:13] AlDrag commented on #233
@EddyVerbruggen I don't know why, but I think this is still not working.
Testing with Ionic. Even after 'Ionic State Reset' it still seems to override my config.xml
<preference name="android-minSdkVersion" value="19" />

[2016-09-20 00:26] AlDrag commented on #233
@EddyVerbruggen Yea I think this still isn't working unfortunately. My AndroidManifest is still getting overwritten. Not sure if it's just my project though, can anyone else confirm? Thank you.

[2016-09-20 00:55] juliancesar commented on #312
Hey guys, have a release date the 6.0.3 with this fix? I have the same issue here!

[2016-09-20 02:31] thelucre opened #328 "Scan not responding until double tapping iOS home button"
### Expected Behaviour
On iOS, when firing `cordova.plugins.barcodeScanner.scan`, the phone should request camera access (the first time) and when confirmed, display the scanning screen.

### Actual Behaviour
My app does nothing. Only when double tapping the home button (to view the open apps summary screen) does the access dialog and/or scanning screen show up. Then scanning works normally. When

[2016-09-20 08:26] cvaliere commented on #233
nope, I can confirm it works
(I have <preference name="android-minSdkVersion" value="16" /> in my config.xml, and it's not overriden)
maybe try to set up a minimal project?

[2016-09-20 14:30] patrickhofer opened #329 "App crashes on iOS 10 permission dialog --> undefined"
### Expected Behaviour
Request permission for camera and open the camera

### Actual Behaviour
First time launch iOS aks for permisson. But the Dialog shows a new undefined string which was not there in iOS 9. The error that the device has no access to the camera fires and it's not possible at all cost to start the camera until you kill the app and fire the camera again. Then everthing works fine.

[2016-09-20 14:33] jcesarmobile commented on #329
Which plugin version are you using? this has been fixed

[2016-09-20 14:34] patrickhofer commented on #329
I've deinstalled the plugin and added it again with `ionic plugin add phonegap-plugin-barcodescanner`

[2016-09-20 14:42] jcesarmobile commented on #329
Are you getting version 6.0.2?
That's the one with the fix

To check the version use `ionic plugin list`

[2016-09-20 14:43] patrickhofer commented on #329
`phonegap-plugin-barcodescanner 6.0.2 "BarcodeScanner"`

Yes, 6.0.2

[2016-09-20 14:59] macdonst opened #330 "Add a LICENSE file"
package.json states MIT license but file missing from repo.

[2016-09-20 15:02] jcesarmobile commented on #329
The app being blocked is probably because the app ask for the permission and you show your alert over it, don't do it. The plugin will check if the permission is set or not and show a message.

But the "undefined" string shouldn't be shown, it should be an empty string

[2016-09-20 15:11] patrickhofer commented on #329
Thank you! Can you tell me how I can remove the undefined in the permission alert? We will go into production in 5 days =)

[2016-09-20 15:14] jcesarmobile commented on #329
You can install with
`ionic plugin add phonegap-plugin-barcodescanner --variable CAMERA_USAGE_DESCRIPTION="the reason you want to give to scan barcodes"` or `ionic plugin add phonegap-plugin-barcodescanner --variable CAMERA_USAGE_DESCRIPTION=" "`

[2016-09-20 15:32] startupfoundry commented on #312
@jlowe234 are you comfortable using your version in a production environment?

[2016-09-20 15:40] jlowe234 commented on #312
I do feel comfortable with it.  I'm awaiting sign off on an update with one of my apps that contains the submitted changes.  My testing has been great so far.

I believe the only possible issue area is with UPC-A and EAN13 formatting because that has been slightly modified to fit with the new metadata structure.  Admittedly, the majority of my app's barcode capabilities are related to QR.

[2016-09-20 17:52] azn1viet commented on #312
I still have the same issue with the latest version of this plugin. It happens to the iPhone 6, iOS 10 after the 4th scans. App crashed.

[2016-09-20 19:05] jcesarmobile commented on #325
I've just tried and got 6.0.2, maybe you have something cached

[2016-09-20 19:05] #325 closed

[2016-09-20 20:28] kafenio commented on #328
+1

[2016-09-20 20:48] kafenio commented on #328
Same behaviour here.

Platform and Version
iphone 6 plus, ios 10.0.1,
cordova 6.3.1
plugin version 6.0.2, 6.0.1, 6.0.0

[2016-09-20 20:54] thelucre commented on #328
It may be Phonegap Build related, because I'm seeing the same behavior with the `geolocation` plugin. I have an open issue on SO: http://stackoverflow.com/questions/39588073/phonegap-plugin-callbacks-dont-fire-in-ios-build

Possibly related to the plugin build config for iOS?

[2016-09-20 21:31] #283 closed

[2016-09-20 22:01] jcesarmobile commented on #324
The camera button to switch cameras is not crashing anymore.
Tried "showFlipCameraButton": false and didn't show the button.
I've tried to scan 3 different bar codes and all of them worked, but it was a bit difficult, it took me a while with an iPod touch (not the better camera)
So I'm closing this issue because I couldn't reproduce the issues anymore and the problems scanning has been reported on

[2016-09-20 22:01] #324 closed

[2016-09-20 22:24] jkobylec commented on #89
Why is this closed? It seems that without either pulling in the above change if it's acceptable, or providing a concrete reason why that delay needs to remain in place unconditionally for all platform versions etc., this should remain open?

[2016-09-20 22:38] sriram6781 commented on #89
Hi jkobylec, this is just a workaround that I am using for now. I am not sure why the issue is closed.

[2016-09-20 22:39] sriram6781 commented on #89
Also i have issues in reading barcodes on IOS device with this scanner. It reads correctly most of the times but it reads incorrectly as well. I know that it is not related to the original issue here.

[2016-09-20 23:38] osirisr commented on #312
I have the same issue. Works perfectly on iOS 9, but crashes on iOS 10 after opening 3-4 times.

iPhone 5S
Version 10.0.1
Barcode Scanner version 6.0.1

[2016-09-20 23:52] john-doherty commented on #312
I was having the same issue so I initially switched to @Mole93's [plugin](https://github.com/Mole93/plugin-barcode-ios) and it solved the crashing problem but it was very slow in comparison.

I then manually copied the RAW contents of the [CDVBarcodeScanner.mm](https://raw.githubusercontent.com/jlowe234/phonegap-plugin-barcodescanner/f81c88ced9f48c40f3082f3d55ade944574cd898/src/ios/CDVBarcodeScann

[2016-09-21 04:44] thelucre commented on #328
@kafenio This solved my problem: https://github.com/driftyco/ionic-cli/issues/259#issuecomment-139238385

Related to the `whitelist` plugin

[2016-09-21 04:44] #328 closed

[2016-09-21 13:02] olimortimer commented on #89
@sarangan12 can you advise why it has been closed please?  See comment from @jkobylec

[2016-09-22 18:41] grinmax opened #332 "How to change the appearance of this plug-in using css?"
I want to change the appearance of this plug-in.
How can i do this?

[2016-09-23 08:12] nOzwald commented on #312
Any plans to include @jlowe234's pull request any time soon?

[2016-09-23 16:45] startupfoundry commented on #312
Honestly this needs to be merged ASAP. This bug causes crashes for every iOS 10 user (Over 30%+ of iPhones have already updated to 10).

[2016-09-23 17:57] jlowe234 commented on #332
Do you mean you just want to change the color of the reticle image (green box)?

That's hardcoded in the plugin, so if you wanted to make this configurable, someone would need to implement methods to configure those colors.

[2016-09-23 20:46] lesion commented on #312
Not so clean but you can reference a github branch as a plugin, so here's a "don't do this at home" way:

inside your `cordova.xml`
[code]
quick & dirty

[2016-09-27 08:33] Andalarian commented on #232
Do you still have that problem ? Because I'm having that issue and I'm not sure if it's my device or the plugin. I've tested it with a Samsung GalaxyTab S2.

[2016-09-27 12:56] alexszilagyi commented on #242
@daserge : have you managed to customize it? You're were trying to support `FNC1`, right?

[2016-09-27 15:15] sriram6781 commented on #89
I agree with @jkobylec that this issue should remain open.

[2016-09-27 15:19] Cordobo commented on #329
I experienced a similar problem - I had to update the App to support iOS 10 (which requires a NSCameraUsageDescription), but couldn't upgrade the barcodescannerplugin from 4.x.x to V. 6.x.x, so I wrote this plugin.

**NPM**
`cordova plugin add cordova-plugin-ios-camera-permissions --save`

**GutHub Repo**
https://github.com/Cordobo/cordova-plugin-ios-camera-permissions

HTH

[2016-09-27 16:30] jcesarmobile commented on #329
You can also install cordova-plugin-camera

`cordova plugin add cordova-plugin-camera --variable CAMERA_USAGE_DESCRIPTION="the reason you want to give to scan barcodes"`

[2016-09-27 16:56] Cordobo commented on #329
@jcesarmobile True, for the latest version. Unfortunatelly I couldn't update to 6.x.x, and as it's not working with  4.2.1, I wrote this mini-plugin.

I even tried this install routine on 4.x.x but with no success :)

[2016-09-27 16:59] jcuervo commented on #329
Is there any reason why permissions alert doesn't show up promptly? I'm testing on iOS 10 now and it's very frustrating.

[2016-09-27 17:12] Cordobo commented on #329
@jcuervo here they come up the first time the app requests the permissions. Maybe you can trigger them in the first view/controller.

[2016-09-27 17:20] jcuervo commented on #329
I'll try it out. Thanks, buddy!

[2016-09-27 17:42] jcesarmobile commented on #329
@Cordobo I mean't installing the camera plugin instead of updating the barcode plugin

@jcuervo the permissions should appear when you are going to use that permission

[2016-09-27 17:57] jcuervo commented on #329
@jcesarmobile i can now use the barcode scanner, but I have to close the app (tap the home button) and tap the app again then the barcode scanner appears. you ever encountered this? (neer had this issue on previous iOS versions)

[2016-09-27 18:01] jcesarmobile commented on #329
I have not encountered this issue myself, but I think there is an issue open about it, usually when using phonegap build

[2016-09-27 18:06] jcuervo commented on #329
@jcesarmobile thanks for the info! btw, is this related to the camera plugin or on cordova itself?

[2016-09-27 18:34] jcesarmobile commented on #329
@jcuervo no idea

[2016-09-27 19:56] maduperera commented on #332
What about changing the size of the screen to show the below page contents as the title bar. Can that also be done. Please advice.

[2016-09-27 22:41] slonovost opened #333 "Having issues scanning QR codes on iOS using 6.0.2"
Having issues scanning QR codes on iOS.  In order for the plugin to detect the barcode, I'm forced to tilt or even rotate my device upside down to get it to scan.

Please find one of the QR codes having this issue attached.

Has anyone seen this before?  I'm running on iOS 9.3.5, but it's also reproducible on iOS 10.

<img width="345" alt="screen shot 2016-09-27 at 3 33 27 pm" src="https://cloud.g

[2016-09-28 10:55] daserge commented on #242
@alexszilagyi - sorry, I haven't looked into this issue.

[2016-09-28 12:06] grinmax commented on #332
@jlowe234 @maduperera
i need do this https://yadi.sk/d/Js7sck9MvqhJS
this can be done?

[2016-09-29 10:46] sivense commented on #305
I hame same problem, logcat say:
THREAD WARNING: exec() call to BarcodeScanner.encode blocked the main thread for 36ms. Plugin should use CordovaInterface.getThreadPool().

[2016-09-29 15:07] jlowe234 commented on #332
It doesn't appear to be an easy way to customize the plugin in the way that you're describing.  You would need to fork and rewrite some of the view controller code for the plugin in order to do what you're describing.

[2016-09-29 15:30] grinmax commented on #332
@jlowe234 Thanks for the answer

[2016-09-29 23:44] koga73 commented on #233
I'm having this issue as well. Another plugin requires 16+ and this plugin is overwriting the minSdkVersion in the AndroidManifest.xml to 15. Build fails

[2016-09-30 07:10] mafzst commented on #233
After  removing the Line in in config.xml you need to clear the build cache sometimes.
For me (I'm using Ionic) the most simple methode is to remove and readd the Android platform

Hope It helps

[2016-09-30 09:08] geoHeil commented on #270
I have set it up like:

[code]
In the config.xml

However, these values are not transferred to xcode / the info.plist file  when the ios platform is added.

[2016-09-30 09:20] jcesarmobile commented on #270
that change was included in 2.3.0, so try changing to `spec="~2.3.0"`

[2016-09-30 09:29] geoHeil commented on #270
Thanks. However, it still does not work.

jcesarmobile <notifications@github.com> schrieb am Fr., 30. Sep. 2016 um
11:21 Uhr:

[2016-09-30 10:03] jcesarmobile commented on #270
Try removing platforms and plugins folders and adding ios platform again

Also, for photo library is `PHOTOLIBRARY_USAGE_DESCRIPTION`, not `NSPHOTOLIBRARYUSAGEDESCRIPTIONENTRY`

[2016-09-30 10:12] pke commented on #270
That might be the reason. I already wondered what strange, non snake'ish, name `NSPHOTOLIBRARYUSAGEDESCRIPTIONENTRY` would be.

[2016-09-30 10:13] pke commented on #270
How can this be localized? Can't we add a language specified to the `<string>` tag?

[2016-09-30 10:30] jcesarmobile commented on #270
To localize you can read this answer, but it's for native projects, not Cordova ones http://stackoverflow.com/questions/25736700/how-to-localise-a-string-inside-the-ios-info-plist-file

[2016-09-30 12:08] autodealers commented on #153
Today I tested the latest branch, but the issue with wrong UPC_E detection remains. Did somebody resolve the issue?

[2016-09-30 14:37] koga73 commented on #233
@mafzst I removed the platforms and plugins directories, re-prepared the platform with the latest version of barcodescanner and it still drops my minSdkVersion from 16 to 15 during build. Since another plugin requires at least 16 the build fails.

The only way I was able to get around it was to modify the barcodescanner.gradle file and update it from 15 to 16. Definitely not a good solution though

[2016-10-01 13:42] renalpha opened #335 "pdf417 not working on ios"
PDF417 is not supported on ios. Any chance it will in the future?

[2016-10-03 10:30] vaprea opened #336 "Issues scanning datamatrix"
### Expected Behaviour
Datamatrix code recognition

### Actual Behaviour
Code not recognized

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
Android 6.x and Android 7.x

#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)
Nexus 5X

#### Cordova CLI version and cordova platform version
cordova 5.4.1
android, ios

#### Plugin version
5.x and 6.x

[2016-10-03 12:51] fabiocaccamo commented on #312
@lesion thanks, you saved me :)

[2016-10-04 13:22] aagasi commented on #336
We are facing this issue: "Upon tapping the scan it doesn't open the camera to scan the barcode"

Any idea how to fix it?

[2016-10-04 13:26] vaprea commented on #336
If on iOS 10, you should add NSCameraUsageDescription in Info.plist file

[2016-10-04 13:27] aagasi commented on #336
Sorry, on IOS it works perfect. But on Android devices we have no response from the plugin. Can't figure out what's happening.

[2016-10-04 13:44] vaprea commented on #336
Sorry, problem connected with this issue  is only with datamatrix format.
I can open device camera without problems.
About datamatrix, i think the problem is with the aar embedded in the plugin because trying to use ZXing library directly it works correctly, any idea?

[2016-10-04 13:53] mlaponder opened #337 "build failing on android when crosswalk plugin is added after barcode scanner plugin"
### Expected Behaviour

When adding the crosswalk plugin and the barcode scanner plugin it should't make a difference in which order they are added to the project.
### Actual Behaviour

When we first add the barcode scanner plugin, and then the crosswalk plugin the compile step fails with the following error:

[code]

However when adding crosswalk first and then the barcode scanner plugin the buil

[2016-10-05 01:47] grmorcl commented on #333
I've noticed the same issue on both iOS and Android with QR codes - need to rotate my device 90 degrees to read the QR code you posted.

I've also noticed on both iOS and Android that it doesn't scan barcodes!?  Will raise a separate issue about that.

[2016-10-06 03:08] wilsoncmartins commented on #312
@lesion i'm using that plugin (https://github.com/jlowe234/phonegap-plugin-barcodescanner.git#leak#312) but now i got a new problem, the app stoped to scan some kinds of codes, like this one:
![barcode](https://cloud.githubusercontent.com/assets/15194075/19139207/f5633802-8b58-11e6-9b8f-c581c9001d25.png)

Please can someone help me?

thanks so much.

[2016-10-06 14:35] jlowe234 commented on #312
What kind of field/variable are you scanning into? I just scanned that code in my application using the plugin and received the entire barcode.  It was identified as code 128 and printed all 30 characters.  Is it possible that the field you're printing to has a character limit?

[2016-10-06 14:44] wilsoncmartins commented on #312
thanks for answering, i don't think so, bacause i changed the puglin in order to fix memory leak but using the publing old version that worked.

[2016-10-06 20:04] inzi commented on #312
#338 should be merged ASAP as it address this as well as adds new formats to iOS using iOS native functionality, IMHO.

[2016-10-07 06:42] robertklein commented on #139
I solved this with https://github.com/NeoLSN/cordova-plugin-android-permission by checking (and requesting /if needed/) permissions in my onDeviceReady callback. It's all about android 6 requests permissions at runtime not during the installation.

[2016-10-07 15:46] wilsoncmartins opened #339 "iOS10 scanning only first part of barcode"
Good morning,

I'm having a problem with barcode scan on iOS10,  i changed the plugin phonegap-plugin-barcodescanner in order to fix the memory leak, but happened this:
When I scan some bar, for exemple:
![image](https://cloud.githubusercontent.com/assets/15194075/19196152/c9a07d50-8c8a-11e6-82ed-1c0e6a88f11f.png)

using the puglin:
`<plugin name="phonegap-plugin-barcodescanner" version="6.0.2"  s

[2016-10-07 21:24] mfzagal commented on #337
same problem

Manifest merger failed : uses-sdk:minSdkVersion 15 cannot be smaller than version 16 declared in library ....

phonegap-plugin-barcodescanner 6.0.2 "BarcodeScanner"

[2016-10-07 21:27] nicolasFernandez commented on #337
I'm having the same problem...

did anyone find a solution?

[2016-10-08 02:38] matt-schrader opened #340 "iOS 10/iPhone 6s Plus camera does not appear until after going to home screen and back into application"
### Expected Behavior
Camera opens right away after clicking scan button

### Actual Behavior
The camera does not open until I double click home button, then enter the app again.  It seems like a force of the view rerendering causes the camera to show.

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce
Have an onclick on a button that causes scanner to open.  Observer

[2016-10-08 02:42] matt-schrader commented on #340
Actually I am seeing errors in the web console.  I see this error repeating constantly until I click home button twice.

Refused to load gap://ready because it appears in neither the child-src directive nor the default-src directive of the Content Security Policy.

[2016-10-08 02:49] matt-schrader commented on #340
I just needed to add gap: to my Content Security Policy.  Closing issue.

[2016-10-08 02:49] #340 closed

[2016-10-08 15:13] jcesarmobile commented on #339
So, your problem with this plugin is the memory leak. Then this issue is a duplicate of https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/312

For issues with a fork, report the problems to the fork's author

[2016-10-08 15:13] #339 closed

[2016-10-08 16:00] wilsoncmartins commented on #312
So i tried
using the puglin:
<plugin name="phonegap-plugin-barcodescanner" version="6.0.2" spec="https://github.com/jlowe234/phonegap-plugin-barcodescanner.git" />
It scans: 42010010 (only the first part, and don't have memory leak)

using the plugin:
<plugin name="phonegap-plugin-barcodescanner" version="6.0.2" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git" />
It scans: 420

[2016-10-08 17:26] taogogo commented on #73
thanks a lot

[2016-10-10 15:35] asierazaceta commented on #329
My app was not working on iOS10 with latest phonegap barcode scanner plugin (6.0.3) until I found this post related to the CSP, which fixed it by adding the gap: to the allowed content:
[http://stackoverflow.com/a/39638649/1752548](http://stackoverflow.com/a/39638649/1752548)

[2016-10-10 17:34] benface commented on #270
@geoHeil Were you able to make it work? I'm having this issue. I have this in my config.xml:

[code]

And I tried doing:
[code]

But this is what ends up in my Info.plist:
[code]

[2016-10-10 17:41] benface commented on #270
Nevermind, I got this all wrong. I'm using a different plugin, `cordova-plugin-media-capture`. I actually removed it (as well as that snippet from my config.xml file) and re-added it with

[code]

And it worked.

[2016-10-10 22:02] jcesarmobile commented on #270
Just for your information, the "(app name) would like to access your camera" will be displayed by the system, don't repeat it again, you just have to add the reason why you want to access it.

[2016-10-11 07:47] geoHeil commented on #270
Indeed I got it to work after figuring out some caching issues.
jcesarmobile <notifications@github.com> schrieb am Di. 11. Okt. 2016 um
00:02:

[2016-10-11 09:19] Smohanapriya commented on #167
Is there any plugin available without installing another supporting app in device?

[2016-10-11 09:24] Smohanapriya commented on #139
Is there any new plugin available?

[2016-10-11 17:10] wilsoncmartins commented on #312
I'm trying to find why the plugin is getting only the first part, i think is sothing here:

[code]
it is possible the plugin is not identifying the right barcode type?

[2016-10-11 21:27] wilsoncmartins commented on #312
i fixed it, the problem was the plugin return a special code:

![image](https://cloud.githubusercontent.com/assets/15194075/19289241/28000c32-8fe0-11e6-921a-c7d4c5551957.png)

it can fix:
`(("" + result.text).replace(/[\x00-\x1f]/g,'-')).replace(/-/g,'')`

thanks.

[2016-10-11 21:30] jlowe234 commented on #312
I took the project that I had from the first post and updated the plugin with the source from my repo.  My barcode scans were as follows for the above two codes:

Barcode 1 -
Format: CODE_128, Text: 420202609405518922818001123454

Barcode 2 -
Format: CODE_128, Text: 420100109261290100106971583637

Both codes appear to be correct based on what I could look up on the USPS tracking number format. The

[2016-10-13 03:38] caixiang2014 commented on #312
I use  https://github.com/jlowe234/phonegap-plugin-barcodescanner  plugin  to scan  barcode, but  I can't scan  follow  barcode:
![201304191139442489](https://cloud.githubusercontent.com/assets/7554837/19335906/718d5e72-9139-11e6-817c-4a59957d46bb.jpg)
I need to help.
thanks

[2016-10-13 11:55] pke commented on #139
Another proper fix to this problem, without changing the plugin at all, is to use another, more general [Android permissions plugin](https://github.com/NeoLSN/cordova-plugin-android-permission) and request the CAMERA permission from your javascript like this:

[code]
That works good for me, as I have to stay on `3.1.0` of this scanner plugin because all the newer versions have awful QR detection r

[2016-10-13 14:25] jcuervo commented on #329
@asierazaceta wow! it worked! thanks, man!

[2016-10-13 19:11] jlowe234 commented on #312
What kind of barcode is that? Does it scan with the existing plugin?

I could not get that barcode to scan with my branch of the plugin nor the current version of the plugin.

[2016-10-13 20:55] reymarx opened #341 "Issues scanning ITF barcode on iOS"
Scanning the ITF barcode found at http://www.scandit.com/products/barcode-scanner/symbologies/itf-2-of-5/ works correctly on android, but the plugin doesn't seems to be able to read the barcode in iOS

I'm using version 5.0 of the plugin and tried on both iPhone and iPads

Edit: Using the latest version (6.0.2.) exhibits the same behavior

[2016-10-13 21:15] cepm-nate commented on #312
[jlowe234](https://github.com/jlowe234), **Thank you so much**!
I can confirm that using your branch fixes the "crashes after X scans" and adds Code93 recognition.
It also added a bonus feature I was going to look into coding: How to scan ONLY where the red line crosses the image!
You do great work, and I hope that this (and your other) pull requests are merged in soon!

[2016-10-13 21:19] inzi commented on #312
Same - I'm anxious for pull request #338 to be merged. There are only a few companies out there who all want $1000s a year for PDF417.  When merged, I'm going to find a way send you a $ tip, jlowe234.

[2016-10-13 21:56] wilsoncmartins commented on #312
@caixiang2014 this code looks be Codabar type.

[2016-10-13 22:04] jlowe234 commented on #312
If that is codabar, it is not supported with the ios version of the plug-in. That would be something that you would need to open a separate issue regarding. There are a few other Barcode variants that can be added via the AVMetadata change in my PR but I am unfamiliar with them so I did not add them.

[2016-10-13 23:19] AlDrag commented on #337
@nicolasFernandez remove the minsdkversion 15 from the barcode scanner plugin and it will work.

[2016-10-14 13:55] tocrea commented on #341
Hi. Thanks wildabeast team for your barcodescanner plugin.
I'm waiting for your answer, because i've got same issue, event trying using formats option : "formats" : "EAN_13,ITF". Works fine with phonegap app 1.7.2. on Android but can't scan ITF on ios10 (but EAN13 is OK).
Don't have signing key for yet to try online with phonegapbuild.

[2016-10-14 15:42] guerson commented on #335
This affect me too. Any chance in the future?

[2016-10-14 15:46] jlowe234 commented on #335
This has been addressed with #338. I assume it should make it into a near future release.

[2016-10-17 09:28] jorgeram commented on #228
Hi @daserge how can I use this parameter? I dont know where to put, and didn't found any example. Thanks in advance!! Regards

[2016-10-17 17:08] daserge commented on #228
@jorgeram I suppose you need to follow the steps at https://github.com/EddyVerbruggen/barcodescanner-lib-aar#steps-to-build-a-new-aar.
There is preferences.xml containing `preferences_copy_to_clipboard`.
It would be great if you could write your findings here.

[2016-10-17 21:33] #222 closed

[2016-10-18 02:28] reymarx commented on #341
@wildabeast do you have any insights on what could be happening here? thanks in advance

[2016-10-18 14:59] jorgeram commented on #228
Hi @daserge my problem was because my development is an Ionic Framework project (cordova / phonegap) and I am not familiar with Android Studio to modify and compile a new aar. Luckily after some try i got working by this way:
1. Download and unzip barcodescanner-lib-aar from EddyVerbruggen
2. Open Android Studio and this AAR project
3. Change line 55 of src/main/res/xml/preferences.xml (true to fa

[2016-10-18 17:49] taogogo commented on #92
+1
crashed on my iphone ce.
hope to fix this bug

[2016-10-20 14:11] lukasT commented on #327
Have you tried using the diagnostic-plugin to ask for the permission before actually opening the scanner? That way you would be able to react to the answer of the user "authorized" or "denied" accordingly. https://github.com/dpa99c/cordova-diagnostic-plugin.  Not quite sure but I guess thats how it worked for me.

[2016-10-20 14:15] lukasT commented on #304
Is this something that changed through the different versions of the scanner? I mean... did you recognize that the older versions of the plugin used less memory or is this a general problem for the scanner-plugin?

[2016-10-20 18:56] Bouzmine commented on #304
@lukasT It always crashed on those low memory devices. I started using this plugin at version 5.0.0

[2016-10-20 22:33] jariztia opened #344 "App crashes when main activity is closed on Android"
### Expected Behaviour

When a code is scanned it should return to the app with the right callbackContext. This can be resolved by overriding the `onRestoreStateForActivityResult` method on the plugin and set the callbackContext object. This way the app won't crash and the result will be available on the on resume event.  I will make a pull-request with this solution.

[code]
### Actual Behaviour

[2016-10-21 08:41] cnryb commented on #332
UI is not very beautiful.
We need a more beautiful UI

[2016-10-21 11:45] #335 closed

[2016-10-21 13:14] redon opened #345 "build failing on android"
### Expected Behaviour

### Actual Behaviour
when adding the plugin to the build, the build fails with error

    FAILURE: Build failed with an exception.

    * What went wrong:
    A problem occurred configuring root project 'android'.

         Searched in the following locations:
             https://repo1.maven.org/maven2/com/android/support/support-v4/maven-metadata.xml
             https://

[2016-10-21 14:54] EddyVerbruggen commented on #312
Hi folks,

Thanks a lot for figuring this out and of course a __HUGE THANKS__ to @jlowe234 for his PR which I've just merged and released as part of 6.0.3 🎉

[2016-10-21 14:54] #312 closed

[2016-10-22 15:34] camilonos77 commented on #291
I have this issue. Sorry my english I am spanish speaker. I run the  app with ionic I and the next plugins config:

developer@developer:~/app/geo_tags$ sudo cordova platform
Installed platforms:
  android 5.0.0

developer@developer:~/app/geo_tags$ sudo cordova plugin ls
cordova-plugin-camera 2.3.0 "Camera"
cordova-plugin-compat 1.0.0 "Compat"
cordova-plugin-console 1.0.4 "Console"
cordova-plugin-d

[2016-10-23 05:59] osirisr commented on #312
The barcode scanner is still crashing for iOS 10 after 4-5 trials of opening/closing the camera. Is anyone else having this issue still? If not, I am testing in Ionic View and haven't tested and compiled to a native app yet, so this may be the issue - but I doubt it.

iPhone 5S
Version 10.0.1
Barcode Scanner version 6.0.1

[2016-10-23 09:20] mobicraft-am commented on #167
Hi, i have found an issue if you have this pb (10/2016 !).
Don't use cordova plugin add phonegap-plugin-barcodescanner -> 4.0.2 !!!
but cordova plugin add https://github.com/jrontend/phonegap-plugin-barcodescanner -> 4.1.0

[2016-10-23 13:04] dmgfjaved commented on #312
I tested on iPhone 6 with IOS 10.0.2 and I don't see any crashing. I tested after compiling to a native app.

[2016-10-23 14:16] EddyVerbruggen commented on #312
@osirisr Ionic View is not running the latest barcodescanner plugin version. By its very nature it's lagging behind.

[2016-10-24 05:19] Smohanapriya commented on #139
After lower the SDK version to 22,

<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />

also not working for me? Any other solution is there?

[2016-10-24 05:51] pke commented on #139
I commented the solution just above ur post

[2016-10-24 11:36] EddyVerbruggen commented on #304
Do you still see this issue with 6.0.3? It's supposed to fix the iOS crashes.

[2016-10-25 04:44] Smohanapriya commented on #167
I am using ionic with ngcordova. By using,
   `cordova plugin add https://github.com/jrontend/phonegap-plugin-barcodescanner`

this plugin for me barcode scanner is opening. but i am not able get the scan it...

any solution???

[2016-10-25 05:55] izee opened #347 "need a switch option to disable display for scan result."

[2016-10-25 07:01] osirisr commented on #312
@EddyVerbruggen Well I use the command `cordova plugin add phonegap-plugin-barcodescanner` and then when I check for the installed version using `cordova plugin list` I get this: **phonegap-plugin-barcodescanner 6.0.3 "BarcodeScanner"**

It is returning version 6.0.3, which I assume is the same as the version 6.0.3 that's here on Github... Right?

@dmgfjaved - I have iOS **10.0.1** ... it could be

[2016-10-25 07:08] EddyVerbruggen commented on #312
@osirisr You said "I am testing in Ionic View" which according to the Apple AppStore has a latest version of September 1st so your runtime doesn't include version 6.0.3 of the barcode scanner plugin. Also, check the list of plugin versions supported by Ionic View [here](http://docs.ionic.io/tools/view/#supported-plugins).

[2016-10-25 13:12] camilonos77 opened #348 "Android 6 close app when the code is scaned"
### Expected Behaviour
### Actual Behaviour
### Reproduce Scenario (including but not limited to)
#### Steps to Reproduce
#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)
#### Cordova CLI version and cordova platform version

[code]
#### Plugin version

[code]
#### Sample Code that illustrates the problem
#### Logs taken while

[2016-10-25 13:13] camilonos77 commented on #348
I have this issue. Sorry my english I am spanish speaker. I run the app with ionic I and the next plugins config:

developer@developer:~/app/geo_tags$ sudo cordova platform
Installed platforms:
android 5.0.0

developer@developer:~/app/geo_tags$ sudo cordova plugin ls
cordova-plugin-camera 2.3.0 "Camera"
cordova-plugin-compat 1.0.0 "Compat"
cordova-plugin-console 1.0.4 "Console"
cordova-plugin-devi

[2016-10-25 13:27] tocrea commented on #341
Hi. Back to give news. I get today my Apple Development ID et signing key for phone gap build and all work perfectly with barcodescanner plugin, including ITF barcode on iOS (testing on iphone)!

[2016-10-25 16:04] cepm-nate opened #349 "plugin 6.0.3 on Android "Sorry, the Android camera encountered a problem..." instead of showing live video."
### Expected Behavior
No error message, and video from camera should be shown with regular red line and preview.

### Actual Behavior
Error message "Sorry, the Android camera encountered a problem. You may need to restart your device.". Restarting does not help. Cold reset does not help.

#### Steps to Reproduce
Call plugin, screen changes to black with the "please place barcode..." message along

[2016-10-25 16:37] FlummoxNL commented on #92
same problem with iPad running 9.3.5. Also crashing on iPhone 5 & 7.

[2016-10-25 17:04] EddyVerbruggen commented on #92
Using plugin 6.0.3?

[2016-10-25 17:43] cepm-nate commented on #349
Ok, this might not be a bug just yet. Just tested the czbar plugin on this same LG G3 and it also complained when trying to open the camera. The czbar plugin worked on an older android 4.2.2 device though. I'll report back when I've narrowed it down a bit.

[2016-10-25 18:12] mobicraft-am commented on #167
Use this one :
Remove the old
ionic plugin add https://github.com/Telerik-Verified-Plugins/BarcodeScanner <https://github.com/Telerik-Verified-Plugins/BarcodeScanner> —save
ionic platform remove ios
ionic platform remove android
ionic add platform ios
ionic add platform android
ionic state save

[2016-10-25 18:25] silviun commented on #312
I think the fix is actuallybpart of release 6.0.3.

On Sunday, 23 October 2016, osirisr <notifications@github.com> wrote:

[2016-10-25 21:29] cepm-nate commented on #349
Sorry, looks like a dupe of #139, will be trying that method.

[2016-10-25 21:29] #349 closed

[2016-10-26 04:04] osirisr commented on #312
@EddyVerbruggen I was unaware that Ionic View does not use the cordova plugin version you have installed in the project. After compiling and running on iOS 10.0.1 iPhone 5S, the barcode camera is no longer crashing! Thank you!

[2016-10-26 04:46] Smohanapriya commented on #167
This plugin,

  `ionic plugin add https://github.com/Telerik-Verified-Plugins/BarcodeScanner`

also not working for me. I am using android marshmallow...

`<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />`

[2016-10-26 05:36] AAUBSS opened #350 "Barcodescanner creates hidden history on android"
Hi,

I'm concerned that this barcodescanner creates a sqLite history database of all qrcodes previously scanned without mentioning it and without the option to disable this behaviour.

The history is saved in \com\google\zxing\client\android\history

Is there a possibility to disable this history creation?

[2016-10-26 07:39] FlummoxNL commented on #92
Intel XDK; Cordova CLI v6.2.0, phonegap-plugin-barcodescanner v4.1.0.

This is how I have it working now, with the Options commented out.
`function startScan() {
    cordova.plugins.barcodeScanner.scan(
        function ( result ) {

            if ( !result.cancelled ) {
                createPopup(
                language.scannedcontest,
                function() { parseScanResult( result );},

[2016-10-26 08:58] daserge commented on #350
Hi @AAUBSS , try [rebuilding the barcodescanner-lib-aar](https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/228#issuecomment-254534990) using [preferences_history=false](https://github.com/EddyVerbruggen/barcodescanner-lib-aar/blob/dd7685fef0c21aac827493e1aa01e1337912f642/barcodescanner/src/main/res/xml/preferences.xml#L67).

[2016-10-26 15:48] mobicraft-am commented on #167
Im using nougat ... But can you explain with more details and your code ?
The camera is oppening or not ?

Le 26 oct. 2016 06:46, "Smohanapriya" <notifications@github.com> a écrit :

[2016-10-27 19:45] brainwind-software commented on #294
I am having the same problem, will there be some fix ?
Some possibitlity to remove the menu ?

[2016-10-28 07:13] kmiasko opened #352 "Scanner dialog doesnt show on Android 6.0"
### Actual Behaviour

After i've upgraded my HTC to android 6.0, barcode scanner stopped working. Scanner initializes, but scan dialog does not appear.
#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)

Android 6.0.1
#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)

HTC
#### Cordova CLI version and cordova platform version

[code]
#### Plugin version

[code]
#### Sample Code t

[2016-10-28 17:01] pmn4 commented on #345
any luck @redon? I'm having the same issue with very similar cordova/plugin versions

[2016-10-28 18:20] pmn4 commented on #345
to get around this, I removed this line from my <project>-barcodescanner.gradle file:
[code]

_(no idea whether that will impact the behavior of the plugin)_

[2016-10-29 10:48] Fayozjon commented on #319
How you solved this? I got some issues with this too

[2016-10-29 12:00] redon commented on #345
that
[http://stackoverflow.com/questions/33185086/failed-to-resolve-com-android-supportsupport-v423-0-0](url)
helped me
I think especially «Had to add "Android Support Repository" from SDK Manager.»

So the problem is not with the barcodescanner-plugin itself but with the installed SDKs
I therefore close this issue

[2016-10-29 12:00] #345 closed

[2016-10-29 14:22] sombriks commented on #319
Hi @Fayozjon

i updated this plugin to the master revision.

at the moment the latest stable version already have it fixed too.

This problem is very specific to barcodescanner+crosswalk.

[2016-10-29 14:22] #319 closed

[2016-11-01 06:52] Smohanapriya opened #353 "Barcode scanner plugin is not working in android 6+ ionic!!!!"
I am developing my ionic app using ngCordova.  I have installed camera plugin by using,
               `   cordova plugin add org.apache.cordova.camera`
Then, I have installed barcode scanner plugin by using,

`cordova plugin add https://github.com/phonegap/phonegap-plugin-barcodescanner.git`
While running my ionic app it's asking for camera permission. I have allowed the permission also. so, I ca

[2016-11-01 09:27] vladpke commented on #10
+1

[2016-11-01 10:17] vladpke commented on #36
+1

[2016-11-02 12:10] redon commented on #233
I have the same problem.
I need minSdkVersion 21 and in the AndroidManifest.xml I have
`    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
`
But when uploading the apk to the Play Store the version is downgraded to 15 :-(
Without the plugin the minSdkVersion in the Play Store is correct.

[2016-11-02 14:46] embarbosa opened #354 "Interleaved barcode 2 of 5 - Brazilian barcode type"
Hello everyone.

I've been trying to use the plugin to read a barcode, but it is not working...
:(
I aim the red line to barcode, but nothing happens.

### Expected Behaviour
It is not reading the Barcode type - INTERLEAVED 2 of 5 (Brazilian type)

### Actual Behaviour
Trying to focus on the Barcode but it is not working

### Reproduce Scenario (including but not limited to)
Try to use this bar co

[2016-11-04 15:06] lucascdsilva commented on #341
I'm having the same problem,  have found a solution? read ITF in ios,  i test in Ipad ios 9.3.2 with barcodescanner 6.0.3

[2016-11-04 15:17] tocrea commented on #341
@lucascdsilva the plugin seems don't work for ITF barcode when testing with phone gap mobil app.
But with apple signing key you can test with build.phonegap.com and ITF is working.

[2016-11-04 15:26] lucascdsilva commented on #341
Sorry, I do not understand. what's the difference?

[2016-11-05 12:58] 1cm opened #355 "Close Button for AngularJS App"
is it possible to add close button when the plug-in is in scan mode?

i am asking you this because in angularjs app when you press back button in order to cancel scanning, the app is going back in window.history.

[2016-11-05 19:40] GuilhermeMoura1 opened #356 "Iphone 4 :: ios 7.1 :: Scanner freezes after like 2 seconds after open"
### Expected Behaviour
Scanner dont freeze

### Actual Behaviour
Scanner freezes after like 2 seconds after open
A few times it does not freeze after the thrid consecutive try

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce
Open scanner

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
iOS 7.1

#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)
I

[2016-11-06 20:35] Mylittlebigweb commented on #336
Same issue here, phone reconize the datamatrix code but doesn t return anything... Any fix for that?

[2016-11-07 09:21] jramgit opened #357 "Custom UI for scanner and prompt message??"
I am using the barcodescanner with ionic framework.

I'd like to create a dotted border for the viewfinder and add new text on top of the view finder. Also change the text of the default message.

I'd like to customize the UI for the scanning page as I mentioned above. Can someone point in the right direction on how to do this ?

[2016-11-07 12:04] GuilhermeMoura1 commented on #356
Log that i got from the console on when i first open the scanner

decoding image 0x17cd3400:
(1) created detector 0x66efa38
decoding image 0x17cd3400:
(1) created detector 0x66efa3c
2016-11-07 09:59:15.569 2taps[438:60b] Warning: Attempt to present <CDVbcsViewController: 0x17ce4290> on <MainViewController: 0x165d8420> whose view is not in the window hierarchy!

Code example:

  var scanTrigger = f

[2016-11-07 12:19] GuilhermeMoura1 commented on #356
Hey guys,

Just installed version 6.0.0 to test and it didnt freeze in iphone 4

But if i press cancel, error is triggered saying that the Scan is already in progress.

I will try to make an if like bellow to bypass the problem for now

if(error != "Scan is already in progress") {
//alert error for the user
}

There is something new after version 6.0.0 that broke the plugin on iphone 4

[2016-11-07 14:05] lucascdsilva commented on #341
I found that my problem is related to the issue #354 ,  ITF with Barcode type - INTERLEAVED 2 of 5

[2016-11-07 16:39] GuilhermeMoura1 commented on #356
Version 6.0.1 and 6.0.2 also works but looks like scan is triggered multiple times on start and cancel "events".
This also causes the icon/button get stuck with the active state (css class), im using ionic.
If i scroll the page, or click another button or input field that button loses the active state

[2016-11-07 16:49] GuilhermeMoura1 commented on #356
After set a timeout to by function that is called when the button is clicked it prevent this behavior of the button stuck in active.
Thats strange.

Posting full working code on ios 7.1 iphone 4 and barcode 6.0.2

HTML
<a class="button button-icon icon flaticon-picture camera-button" ng-click='scan()'></a>

JS
  var scan = function($scope) {
    var qrCodeScanDataTransfer = $ctrlDataTransfer.getOp

[2016-11-07 17:07] GuilhermeMoura1 commented on #356
Error on scan start in Xcode 7.1 ios 7.1 iphone 4 barcode 6.0.3 cordova 6.4.0 cordova-ios 4.1.0

The app became unresponsive

Xcode throw error in file CDVBarcodeScanner.mm
The error is: Thead 1: EXC_BAD_ACCESS (code=1, address=0x0)

On this line:

    [output setMetadataObjectTypes:@[AVMetadataObjectTypeQRCode,
                                     AVMetadataObjectTypeAztecCode,

[2016-11-07 19:00] rafwell commented on #10
+1

[2016-11-07 20:36] rafwell opened #359 "Scan barcode with flashlight on"
How can i scan a barcode with flashlight on? I'm using cordova (ionic) and tried this code, but the flashlitgh switch off when barcode show the camera.  :(

I know is possible start flashlight pressing volume up key, but i wanna be this (flashlight on) the default behavior. Thanks.

[code]

[2016-11-08 04:50] als1979 opened #360 "Windows 10 app crashes, when starting barcodescanner"
### Expected Behaviour
Open plugin, get camera interface

### Actual Behaviour
App exits

#### Steps to Reproduce
install plugin and dependencies, and run basic sample

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
windows 10 --arch="x64" or --arch="x86"

#### Cordova CLI version and cordova platform version
Cordova CLI: 6.4.0
Ionic CLI Version: 2.1.4
Ionic App Lib Version: 2.1.2
OS: wi

[2016-11-08 09:19] daserge commented on #360
@als1979 I confirm the bug - looks like the __cordova plugin add__ does not add the Webcam Capability to the Windows 10 manifest, investigating.
You can enable it manually in VS or directly in the package.windows10.appxmanifest for now:
[code]

[2016-11-08 09:29] als1979 commented on #360
That did the trick, thank you very much.

[2016-11-08 09:31] daserge commented on #360
Tracking the issue here:
https://issues.apache.org/jira/browse/CB-12124

[2016-11-09 07:17] daserge commented on #360
The issue is fixed in master and will be out with next cordova-windows release.

[2016-11-10 06:41] abhijithp commented on #55
@eisenbergrobin i have some problem barcode scanning so can you give a jsfiddle example for the above method.

[2016-11-10 06:59] seematalanki commented on #225
prompt message is not working on windows platform. Can you please confirm, if any thing additional needs to be done.

[2016-11-10 08:21] daserge commented on #225
@seematalanki, from the docs: `"prompt" : "Place a barcode inside the scan area", // supported on Android only`.

[2016-11-10 15:46] robert-crowell-gdit opened #361 "Example code on Win10 crashes app with hot-swappable camera hardware unplugged"
### Expected Behaviour
If camera hardware is not installed, was expecting a clean error that could be caught by the calling application to display a user-friendly warning message to plug in hot-swappable camera hardware.

### Actual Behaviour
Barcode scanner uses Promise mechanism, yet throws an exception that can't be caught with javascript try/catch block surrounding example code (also error fun

[2016-11-10 17:52] daserge commented on #361
@robert-crowell-gdit, while we are investigating the issue you should be able to handle the exception in [`WinJS.Application.onerror`](https://msdn.microsoft.com/en-us/library/windows/apps/hh974768.aspx) in the application code.

[2016-11-10 19:28] daserge commented on #361
@robert-crowell-gdit could you try [this branch](https://github.com/daserge/phonegap-plugin-barcodescanner/tree/promise-done)?

[2016-11-10 21:39] robert-crowell-gdit commented on #361
Nearly identical results..    I can't catch the exception, and when your ".pause" is called my program dies.

log:
'WWAHost.exe' (Script): Loaded 'Script Code (MSAppHost/3.0)'.
'WWAHost.exe' (Script): Loaded 'Sourcemap (ms-appx-web://com.gdit.cordova.rounds/www/js\jquery.mobile-1.4.5\jquery.mobile-1.4.5.min.js)'.
Exception is about to be caught by JavaScript library code at line 57, column 13 in m

[2016-11-11 07:43] andrey-andreev commented on #233
I have exactly the same problem like @koga73, I'm using ionic too and one of the plugins require minSdkVersion 16. Does some one have a solution ?

[2016-11-11 08:09] daserge commented on #361
@robert-crowell-gdit , taking the line numbers into account I can assume you have taken the master branch of my fork.
Could you please retry with `git clone -b promise-done https://github.com/daserge/phonegap-plugin-barcodescanner`?

[2016-11-11 08:19] Delagen commented on #233
I writed own cordova hook to remove this at build step

[2016-11-11 09:23] ronsononline commented on #361
Hello guys,
tried it with the master branch, tried it with the promise-done branch and got always the same like robert, i cant catch the failure with try/catch if the camera doesnt exists. It brings up an error message like "Something went wrong with the Android Camera.." and after that message if u click it away it jumps back and in the result object, cancelled is true

[2016-11-11 09:28] daserge commented on #361
@ronsononline this issue is about Windows platform - please create a separate one for Android with details.

[2016-11-11 12:20] Hallidayo opened #362 "Phone Gap Build Android Compile Error"
Hi,

When im submiting my app to the PhoneGap Build I am unable to compile for Android (Windows & iPhone are fine). Looking at the error log I am seeing the following:

compile:
    [javac] Compiling 10 source files to /project/bin/classes
    [javac] warning: [options] source value 1.5 is obsolete and will be removed in a future release
    [javac] warning: [options] target value 1.5 is obsolete

[2016-11-11 16:31] robert-crowell-gdit commented on #361
1. Yes, you were correct. I had the wrong version. I am new to all of this and did not know about your special git command.

a. cordova plugin ls
          phonegap-plugin-barcodescanner 5.0.0 "BarcodeScanner"

b. cordova plugin remove phonegap-plugin-barcodescanner

c. git clone -b promise-done https://github.com/daserge/phonegap-plugin-barcodescanner

(this made a new folder in my project, but d

[2016-11-11 19:09] robert-crowell-gdit commented on #361
Is there a way I could call "findCamera()" directly myself, before I call .scan() ?

[2016-11-11 21:31] jrobichaud opened #364 "UPC_A codes now scans with extra 0 at the start"
### Expected Behaviour
UPC_A should return 12 digits

### Actual Behaviour
UPC_A returns 13 digits

### Reproduce Scenario (including but not limited to)
Scan [this code](https://github.com/phonegap/phonegap-plugin-barcodescanner/files/586763/codedb42a5efb3392c5acb9892435df49371.pdf)

#### Steps to Reproduce
1. Scan bar code with commit: https://github.com/phonegap/phonegap-plugin-barcodescanner/c

[2016-11-11 23:26] jcesarmobile commented on #291
@camilonos77 that looks like a memory problem, very common on low memory devices when launching an intent. But I test on a moto G 2014 and moto G 2015 and don't have such problem

[2016-11-14 06:15] xgzl87 opened #365 "android,The image is distorted in the scan area"
android,The image is distorted in the scan area

[2016-11-14 10:31] daserge commented on #361
@robert-crowell-gdit thanks for the update!
Could you please re-try the branch with the fix?

[2016-11-14 11:34] GuilhermeMoura1 commented on #356
Apple droped support for ios 7 in xcode 8 so ill close this thank you

[2016-11-14 11:34] #356 closed

[2016-11-14 16:03] robert-crowell-gdit commented on #361
YOU GOT IT!!   That did it!    Here's the end result.

'WWAHost.exe' (Script): Loaded 'Script Code (MSAppHost/3.0)'.
'WWAHost.exe' (Script): Loaded 'Sourcemap (ms-appx-web://com.gdit.cordova.rounds/www/js\jquery.mobile-1.4.5\jquery.mobile-1.4.5.min.js)'.
Exception is about to be caught by JavaScript library code at line 62, column 13 in ms-appx-web://com.gdit.cordova.rounds/www/plugins/phonegap-pl

[2016-11-14 16:14] daserge commented on #361
Great, thanks @robert-crowell-gdit !
Will merge it soon then.

[2016-11-14 16:15] robert-crowell-gdit commented on #361
Thank you!  Great job, Sir!

[2016-11-14 16:41] robert-crowell-gdit commented on #361
I can make a seperate submission for my next error, but it's using this branch we have already discussed..

git clone -b promise-done https://github.com/daserge/phonegap-plugin-barcodescanner

in Win10, I'm getting a "Class not registered" error when trying to use the webcamera, can you tell me what it means?

'WWAHost.exe' (Script): Loaded 'Script Code (MSAppHost/3.0)'.
'WWAHost.exe' (Script): Lo

[2016-11-14 16:49] daserge commented on #361
@robert-crowell-gdit which version of cordova-windows are you using? (What is the output of `cordova platforms`?)
Can you try using master version? (`cordova platform rm windows && cordova platform add https://github.com/apache/cordova-windows`)
Which device is failing (and which architecture is it)?
What is your Visual Studio version?

[2016-11-14 16:50] daserge commented on #361
Could you please also create a separate issue for it?

[2016-11-14 16:55] robert-crowell-gdit commented on #361
Will create a seperate issue.. and will go back to the master version for this issue. Thank you.

[2016-11-14 16:55] daserge commented on #361
@robert-crowell-gdit also make sure you are specifying an Architecture when you build for Windows 10 - i.e. x86 or x64 for desktop or ARM for phone.

[2016-11-14 16:57] robert-crowell-gdit commented on #361
I have specified the Architecture..  will include on the new issue.

[2016-11-14 20:16] robert-crowell-gdit opened #367 "Win 10 Pro N + Logitech c920 webcam = 0x80040154 - Class not registered"
### Expected Behaviour
Using phonegap-plugin-barcode scanner master branch, Win 10 x86 laptop with Logitech c920 web cam, expected to be able to scan barcode value using example code on main project page. Project does not say that Win10 + web cam are not usable combination with this plugin, therefore I expected the plugin to scan a barcode.

Not sure what I'm doing wrong, since I'm new to this.

#

[2016-11-15 02:13] camilonos77 commented on #291
I receive the same error at me galaxy Nexus 7 2013 version.

[2016-11-15 11:45] daserge commented on #367
@robert-crowell-gdit I've tested the plugin with USB web camera and could not reproduce the issue.
Could you please post the contents of `Extensions` tag of a generated appx/bundle AppxManifest.xml (it could be found in `platforms\windows\build\windows\Debug\x86\win10` or in `platforms\windows\AppPackages\...`)?

[2016-11-15 11:52] daserge commented on #367
Also - does it work differently if you deploy from CLI instead of Visual Studio?
`cordova run windows -- --arch=x86`
Note that you'll need to update to the master version of Windows platform to test this due to the DeviceCapability bug:
`cordova platform rm windows && cordova platform add https://github.com/apache/cordova-windows`

[2016-11-15 14:55] robert-crowell-gdit commented on #367
First I will address my existing windows platform v. 4.4.0 (before doing your recommended upgrade).

The Win10 Extensions (from location, "platforms\windows\build\windows\Debug\x86\win10"):
<Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>CLRHost.dll</Path>
        <ActivatableClass ActivatableClassId="ZXing.BarcodeReader" Threa

[2016-11-15 15:17] robert-crowell-gdit commented on #367
Since the line that is referenced points to "Windows.Media.blahblah"..  I check under my list of installed programs, and now I see that I don't have Windows Media player installed..  is that essential software?

I went to this website:  http://www.microsoft.com/en-us/download/windows-media-player-details.aspx

But received this page for Win 10 Pro N, x86:

Windows Media Player
Windows Media Player

[2016-11-15 15:55] robert-crowell-gdit commented on #367
It seems I was missing a video player on my laptop..  either I mistakenly uninstalled it, thinking I wouldn't need it on a "compiler" laptop.. or it didn't install with my MSDN version of Win 10 Pro N, DVD ISO..

To document how I fixed this:

Microsoft Store has a "Movies & TV" application by Microsoft.  I installed that (which I did NOT have before).  After it's installation, it referred to a "M

[2016-11-16 08:06] daserge commented on #367
@robert-crowell-gdit thanks for posting the results!
I've tried to reproduce the issue removing the Movies and TV and disabling entire Media Feature but unfortunately it still works for me.
I would be grateful if you could test the #368 (note that it might need the promise.done handler, which is not yet merged).

[2016-11-16 13:09] cescd6 commented on #354
@embarbosa and @lucascdsilva I'm in the same situation:

On iOS I aim the red line to barcode, but nothing happens. It is not reading the Barcode type ITF (Interleaved2of5), with other formats like EAN_13 works fine. And Android instead works fine with ITF too.

Were you able to solve the problem? I attach the data to reproduce the error

**Cordova CLI version, cordova platform version and Plugin

[2016-11-16 13:14] cescd6 commented on #341
I have the same problem, I explained my situation in #354

@reymarx  @tocrea were you able to solve the problem?

[2016-11-16 13:27] embarbosa commented on #354
@cescd6 Hello my friend,

Unfortunately I used another plugin that works well on iOS.
https://github.com/chen6516/cordova-zxing-portrait

A co-worker "forked" the repository above and "merged" the Android version of this repository.
https://github.com/jpfperondini/phonegap-plugin-barcodescanner

Sorry, I did not have time to solve it!
:(

[2016-11-16 13:32] lucascdsilva commented on #354
@cescd6 Hello,

 I still have not resolved, unfortunately it seems to be lack of support for this barcode encoding, we would need a help @wildabeast

[2016-11-16 16:35] tocrea commented on #341
For me the issue was only when testing with phonegapapp. After signing the app from apple dev. I was able to test the app with phonegap build ( and apple testflight, it's same thing) and all works fine, no more trouble with ITF!

[2016-11-16 19:04] rafaelescrich opened #369 "How can I change the scan window ?"
This is my funtion that calls the scan method:

              $scope.scan = function() {
			$ionicPlatform.ready(function () {
				$cordovaBarcodeScanner.scan()
					.then(function(barcodeData) {
        		$scope.setBarcode(barcodeData.text);
      		}, function(error) {
        		console.error("Error reading barcode", error);
      		},
      		{
          	"preferFrontCamera" : false, // default

[2016-11-16 19:17] robert-crowell-gdit commented on #367
Removed Movies and TV,  can't find "Media Feature" to disable it..   cannot reproduce the original problem, so some background library / dll / code artifact-something must have been installed or patched into my system, as is.   Cannot reproduce issue anymore to test #368 as you requested....   maybe this was just a "one off" thing.

[2016-11-16 19:48] daserge commented on #367
`Media Feature` can be disabled in `Turn Windows features on or off`.

[2016-11-16 20:04] lucascdsilva commented on #341
@tocrea I believe it is the type of coding of the bar code "ITF - INTERLEAVED 2 of 5"

[2016-11-16 20:10] lucascdsilva commented on #341
try read that code bar with IOS, i want only android
![whatsapp image 2016-11-16 at 16 07 05](https://cloud.githubusercontent.com/assets/4581253/20363816/1d9ab910-ac17-11e6-9ea8-d624bb765fb9.png)

[2016-11-17 08:01] cescd6 commented on #341
Thanks all,

But @tocrea I have this problem after signing the app with an Apple's Development Provisioning and testing it with my ipad.

[2016-11-17 11:31] #361 closed

[2016-11-17 11:55] #367 closed

[2016-11-18 10:36] imarem commented on #341
I have the same problem after signing the app with an Apple's Development Provisioning.

[2016-11-18 11:19] cescd6 commented on #354
@embarbosa You solution works fine in my situation!

Thanks you so much!

[2016-11-18 12:38] daserge commented on #365
@xgzl87 please add some details - which is device' Android version, what version of the plugin are you using?
Also please post the code you are using for scanning (especially call options).

[2016-11-18 12:48] daserge commented on #355
@1cm you could try to subscribe to [backbutton event](http://cordova.apache.org/docs/en/dev/cordova/events/events.html#backbutton) in the app code and check if you are scanning at the moment.

[2016-11-18 12:51] daserge commented on #350
@AAUBSS did this help?
The issue can be closed if so I believe.

[2016-11-18 12:56] AAUBSS commented on #350
Hi, sorry for missing your answer. If understand correctly, i would have to manually rebuild the lib and change it with the one that is located in in the barcodescanner plugin directory? Is there a  way to configure the history behavior instead? Is there even a reason to use a lib with enabled history for this plugin, why not disabling it by default?

[2016-11-18 13:06] daserge commented on #322
@sebastianor are you specifying an architecture?
It is required on Windows 10 and the plugin should currently alert you in Visual Studio TACO or in Cordova CLI.

[2016-11-18 13:59] 1cm commented on #355
Thanks dude.

[2016-11-18 14:21] daserge commented on #350
Right.

Not through config.xml/plugin.xml as we are including aar which is already compiled.

I'm not sure - but probably because [it is enabled in ZXing library by default](https://github.com/zxing/zxing/blob/47459f4bd7ce6b883321a298df26eb5e279f4a32/android/res/xml/preferences.xml#L68).

[2016-11-18 14:36] daserge commented on #321
Hello @JToto is this still an issue?
Which version of cordova-windows platform has the issue if so?

[2016-11-18 14:38] daserge commented on #321
The issue might be related to [CB-9524/UseDotNetNativeToolchain](https://github.com/apache/cordova-windows/commit/bb33dfb7d906ecbb77a698393967ae5bace82d80) but it is fixed since cordova-windows@4.1.0.

[2016-11-18 14:53] daserge commented on #321
Forgot to say that it works properly in Microsoft Visual Studio Community 2015 Version 14.0.25431.01 Update 3 & Visual Studio Tools for Apache Cordova Update 10.

[2016-11-18 15:38] Kgibaud opened #370 "Scan doesn't work anymore after 70-80 parcels scans"
### The scan has no effect after 70-80 parcel scans. We have to kill and launch again the scan barcode to continue the scan correctly.

(Used with the ionic plugin)

#### iOS 10

#### Cordova version 6.0.2

[2016-11-18 16:08] rafaelescrich commented on #369
Yes, thank you for pointing out.

[2016-11-18 16:09] daserge commented on #369
OK, thanks! I will close this one then.

[2016-11-18 16:09] #369 closed

[2016-11-18 17:48] daserge commented on #353
@Smohanapriya this does not reproduce for me (Acer Liquid Zest Android 6.0).
Does it work if you use Cordova API?
[code]

[2016-11-18 21:31] niroussel commented on #348
Same problem here. However, the crash occures only with the whitelist plugin! I need both :/

[2016-11-21 20:21] RaulGarafulic opened #372 "tmpqrcode.jpeg does not get updated"
**Expected Behaviour**
Using the `encode` function with dynamic data, I expect it to update the image where QRCode is.

### Actual Behaviour
When I encode a string, works perfectly, but when I try to insert another text, the image holds still.

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
I'm developing in Ionic 2, Phonegap 6.3.3

#### Cordova CLI version and cordova platform version

[2016-11-22 07:44] Purushoth-ltr commented on #304
Any updates on this issue? still persists in 6.0.3 (ipod 5th gen)

[2016-11-22 16:13] yosiat opened #373 "Detect resume from barcode scanner"
Hi,

I have two code paths: one that use barcode scanner and other one that listens to resume event.
Is there a way that other code could listen to resume event and know that is resumption from barcode scanning? or there is no way?

Thanks,
Yosi

[2016-11-23 09:43] kashban commented on #264
Is this still an issue with 6.0.3?

[2016-11-23 13:02] redon commented on #233
this fork helped me
https://github.com/gustavocampos/phonegap-plugin-barcodescanner

Thanks

[2016-11-23 13:21] redon opened #374 "minimum requirement for camera"
Question: Is there a minimum requirement for the camera?

I have an app in the play store, where the Asus ZenPad Z300CL is listed as a compatible device but the ZenPad ZD330CL is not.
The only difference in the two models, as I can see, is that the first one has a 5MP camera and the second one a 2MP camera.
So maybe the barcodescanner plugin needs a camera with more than 2MB?

[2016-11-23 18:40] sweebee opened #375 "White Screen on first load"
The first time the camera loads, I get a white screen, when i press a button or go to another page and go back, it works fine.

sometimes its half the screen, sometimes full screen white.

![](https://i.imgur.com/murSaRS.png)

[2016-11-23 22:00] sweebee commented on #375
oops, wrong plugin. was meant for qrscanner.

[2016-11-23 22:00] #375 closed

[2016-11-24 18:06] ignacio-chiazzo commented on #310
@JohnBrooking  @EddyVerbruggen I didn't see the JohnBrooking's PR nor the closed PR's

[2016-11-24 20:21] ignacio-chiazzo commented on #304
I had the same issue. I think that the problem is related to the overload that the main thread has when the plugin runs at the first time.

I didn't find this issue https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/310 solved, so I changed on my own and it's  still happening sometimes.

@Purushoth-ltr @EddyVerbruggen Did you find any solution?

[2016-11-28 09:52] KixS commented on #333
I have as well this issue for iOS.

When I try to scan a QRcode, even a relatively simple one, the scanner has trouble reading it. I have to move my phone forward and backward so it can capture at some point the QRcode, sometimes it can take up to 30s. This is with version 6.0.2 of the plugin.

Using the 3.0.1 -> it scans the QRcode almost in an instant.

[2016-11-28 09:56] Bazzaccosrl opened #376 "Plugin not found, or is not a CDVPlugin"
Hi,
  when I try to use the plugin on iOS, it return this error: "ERROR: Plugin 'BarcodeScannerPlugin' not found, or is not a CDVPlugin. Check your plugin mapping in config.xml.".
I've try to reinstall the plugin, but it gives always the same error.

On Android it works perfectly.

Cordova version: 6.4.0
iOS platform's version: 4.3.0
Plugin version: 6.0.3

Thanks

[2016-11-28 10:03] jcesarmobile commented on #376
that happens when the plugin is not installed correctly.
Try removing and re-adding the plugin and if it doesn't work try removing and re-adding cordova-ios platform
Closing because it's not really a problem with the plugin, it's a problem on Cordova itself

[2016-11-28 10:03] #376 closed

[2016-11-28 10:19] Bazzaccosrl commented on #376
Nope, I've changed <feature name="BarcodeScanner"> to <feature name="BarcodeScannerPlugin"> in config.xml, and it works... (Plugin install bug?)

[2016-11-28 10:34] jcesarmobile commented on #376
No, `BarcodeScannerPlugin` is not used anywhere in the code.
Can you check your barcodescanner.js file and see if cordova.exec is calling BarcodeScanner or BarcodeScannerPlugin?
https://github.com/phonegap/phonegap-plugin-barcodescanner/blob/master/www/barcodescanner.js#L118

[2016-11-28 10:42] Bazzaccosrl commented on #376
It calls BarcodeScanner...

[2016-11-28 10:55] jcesarmobile commented on #376
Then your fix makes no sense, what the feature tag does is to map the javascript call to the native class, if you javascript is calling `BarcodeScanner` but your feature tag has `BarcodeScannerPlugin` then is when you should get a

That's what I get if I change `BarcodeScanner` to `BarcodeScannerPlugin` in the config.xml

Can you search for `BarcodeScannerPlugin` in your project?

[2016-11-28 11:11] Bazzaccosrl commented on #376
Wait, wait. My mistake. BarcodeScannerPlugin has nothing to do... I thought it was what, but simply the system doesn't see it anymore and it use another plugin that I use on Android (Honeywell Barcode Scanner). I've removed this and changed BarcodeScannerPlugin to BarcodeScanner (It doesn't work otherwise, obviously) and it works perfectly.

Sorry for making you waste time, really :(

[2016-11-28 12:41] macdonst commented on #374
@redon does your device have auto-focus and a flash? The ZXing library that the barcode scanner depends on requires those HW features, IIRC.

[2016-11-28 13:19] redon commented on #374
it lacks autofocus (and flash)

thank you

[2016-11-28 15:34] jcesarmobile commented on #374
In fact, this is caused by the CAMERA permission, when you add the CAMERA permission it will set all the camera features to true. We should add code to specify that flash and autofocus is not required

[2016-11-28 15:41] redon commented on #374
as @macdonst says: the ZXing library requires autofocus and flash
so to me it makes no sense to specify them as "not required"

[2016-11-30 07:38] tungcntt619 opened #377 "$cordovaBarcodeScanner camera not show when view by iOS 10+"
when i click the scan button, nothing will happen, i sleep the ipad, and turn on again, then the camera will appear.

[2016-11-30 08:20] Mayankjain96 commented on #305
@wildabeast  Please correct this issue in android

[2016-11-30 08:21] Mayankjain96 commented on #305
@phoxoey  Did you guys found any solution for this, encode is not working in android

[2016-11-30 08:22] Mayankjain96 commented on #305
@daserge Did you guys found any solution for this, encode is not working in android

[2016-11-30 10:08] sunilhari9 commented on #53
Barcode scanner is not working for both IOS and Android, if I am trying to scanner bar code generated with code 128.
I am generating barcode using following string "**10000019, BR 1234**"

[2016-11-30 14:32] phoxoey commented on #305
@Mayankjain96 I never got it to work on Andriod. The solution that worked for me was to find a way to produce an SVG image, on the server, and send to the mobile app. If your mobile app doesn't interact with a server then your options are limited for sure.

[2016-11-30 19:16] Savalas opened #378 "Barcode scanner does not scan code of QR that is on top of a black background."
### Expected Behaviour
Should scan the QR code of one color on top of a different color.

### Actual Behaviour
The Scanner does not even focus  to start scanning

### Reproduce Scenario (including but not limited to)
#### Steps to Reproduce
Attempt to scan a gray QR code on top of a black background.

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
iOS
#### (Android) What device vendor (e

[2016-11-30 22:11] Mischa1610 commented on #166
Seems like this topic is not a problem anymore since the resources (capture, ...) are released and closed now correct.
Also since this commit: [Windows - Cleanup camera on app suspension](http://github.com/phonegap/phonegap-plugin-barcodescanner/commit/49489db0678e6e80a3b0744533d432681b9cfdb7) to suspend the App should also work correct.

[2016-11-30 22:11] #166 closed

[2016-12-01 03:12] caixiang2014 opened #379 "QR Code scan very slowly on xperia z3"
when I scan QR Code on xperia z3 it is  very slowly .  I want to improve  detaction rate on xperia z3. how can I to do ?  I need help. thanks

[2016-12-01 18:04] fargobee opened #380 "Using IOS 10.1, barcode scanner not showing"
Using IOS 10.1, barcode scanner not showing and produce this issue :

/Users/macbookpro/Documents/myapp/platforms/ios/myapp/Plugins/phonegap-plugin-barcodescanner/CDVBarcodeScanner.mm:265:17: Method definition for 'captureOutput:didOutputSampleBuffer:fromConnection:' not found

[2016-12-01 18:57] vespino opened #381 "Flashlight option"
I have been asked to build a simple barcodescanner app, so I stumbled on this plugin. Let me first say: **Everything Eddy makes, works like a charm!**

My client asked to have the flashlight on when scanning, so I started using this plugin: https://www.npmjs.com/package/cordova-plugin-flashlight in combination with this plugin: https://github.com/MangoTools/cordova-plugin-lightSensor

Separately f

[2016-12-01 20:42] EddyVerbruggen commented on #381
@vespino Thanks, but I'm one of many contributors to this plugin. I'm gladly sharing your kind kudos with all others.

This plugin can't cooperate with flashlight plugins as Android doesn't permit it, but you can use the volume up/down buttons to toggle the flashlight on Android while scanning through this plugin. It would be possible to extend the code to pass in a preference which enables the fl

[2016-12-01 21:08] vespino commented on #381
@EddyVerbruggen strange that Android doesn't permit it, I have an app that does allow the flashlight to be turned on using a button on the screen. What you are saying is that Android doesn't allow it to be turned on automatically, correct? What about iOS, does it allow both to be operated at the same time?

Unfortunately I'm not capable of changing the native code, so I have to work with plugins a

[2016-12-01 23:00] jcesarmobile commented on #374
I'm saying that ZXing library doesn't require them (see https://github.com/zxing/zxing/blob/master/android/AndroidManifest.xml#L37-L38)

The problem is that the plugin ask for the CAMERA permission, and CAMERA permission, by default, enables all the camera related uses-feature as true.
We have to write on the AndroidManifest.xml to not require them.

[2016-12-02 02:13] tungcntt619 opened #382 "phonegap/phonegap-plugin-barcodescanner » iOS 10/iPhone 6s Plus camera does not appear until after going to home screen and back into application"

[2016-12-02 06:29] EddyVerbruggen commented on #381
While the scanner is open using this plugin you can use the volume up/down buttons to control the flash. But AFAIK you can't enable the flash using another plugin _before_ opening the scanner.

If that suits your needs than a piece of code like [this](https://github.com/EddyVerbruggen/nativescript-barcodescanner/blob/master/barcodescanner.ios.ts#L106-L112) is required to enable the torch on iOS an

[2016-12-02 08:07] redon commented on #374
I see clearer now. Thank you
who is going to change that?

[2016-12-02 12:25] vespino commented on #381
@EddyVerbruggen since you said "before", I have tried "after" but without success. The only thing that seems to work is the physical volume up button. I'm looking for a solution for both Android and iOS btw.

[2016-12-02 13:43] vespino commented on #381
@EddyVerbruggen something that just crossed my mind: would it be possible to launch the barcodescanner with some room at the bottom so I can place a flash button?

[2016-12-02 15:29] lfreneda commented on #264
Same problem here..

[2016-12-03 17:11] jaguarg commented on #312
Issue is still there with 6.0.3 for me.  is there a workaround, even temporarily I need to get an update of my app pretty quickly.

Many thanks

[2016-12-03 17:45] Mole93 commented on #312
you can use my plugin [plugin-barcode-ios](https://github.com/Mole93/plugin-barcode-ios) to fix this issue very quickly

[2016-12-03 21:00] jaguarg commented on #312
Thx @Mole93 , that is brilliant I am now using your plugin.

It seems that I lost the red line on the capture window . I only got the green square.
Is there an option to enable the red guide line ?

[2016-12-03 21:07] Mole93 commented on #312
@jaguarg which red line? Do you have any img that you can show me?

[2016-12-03 21:20] jaguarg commented on #312
That's what I use to have ... now I only get the green box ...

![screen shot 2016-12-03 at 22 18 51](https://cloud.githubusercontent.com/assets/8936602/20862267/931a8840-b9a6-11e6-926a-7dd77acbdb3c.png)

[2016-12-03 21:26] Mole93 commented on #312
@jaguarg ok, I got it. Can you open the issue on my plugin, please? I'll fix it soon

[2016-12-03 21:32] jaguarg commented on #312
done.
Thank you so much for your help  .

[2016-12-04 08:55] vespino commented on #359
The current plugin does support the flashlight, but only by enabling this using the volume up button. I have asked @EddyVerbruggen (one of the developers of this plugin) to add this feature. He will look into this for both Android and iOS.

[2016-12-04 11:04] Rambatino commented on #382
Yup, I'm getting the same behaviour

[2016-12-04 19:13] EddyVerbruggen commented on #304
Just released 6.0.4 which has a few more memory optimizations. If I had an iPod I would have tested this.

[2016-12-04 19:14] #304 closed

[2016-12-04 19:16] EddyVerbruggen commented on #381
Hey @vespino, can you give 6.0.4 a spin? Pass in `showTorchButton : true` as one of the `scan` options and you should see a torch button while scanning. Please reopen if anything is wrong.

[2016-12-04 19:16] #381 closed

[2016-12-04 19:23] EddyVerbruggen commented on #370
Can you upgrade to 6.0.4 and see if this persists?

[2016-12-04 19:25] EddyVerbruggen commented on #359
Thanks to a kind bit of sponsorship by @vespino I was able to add this feature today. Available in 6.0.4 when passing the `showTorchButton : true` option to the `scan` function.

[2016-12-04 19:25] #359 closed

[2016-12-04 19:27] #344 closed

[2016-12-04 19:28] #353 closed

[2016-12-04 19:30] EddyVerbruggen commented on #333
Can you try again with 6.0.4? There's been a change where we hint the camera to look for objects near the camera (as opposed to anywhere).

[2016-12-04 19:31] #300 closed

[2016-12-04 19:34] EddyVerbruggen commented on #199
In 6.0.4 you can pass in the option `showTorchButton : true` to show a torch button. 🔦

[2016-12-04 19:34] #199 closed

[2016-12-04 19:40] EddyVerbruggen commented on #118
Version 6.0.4 didn't change the Medium/High setting mentioned in the previous post (because of varying results), but it did change a switch where the camera is hinted to look for objects 'near' the camera (as opposed to 'anywhere'). Hope that makes a bit of a difference..

[2016-12-04 19:43] EddyVerbruggen commented on #88
Version 6.0.4 add support on Android for inverted images. Didn't see this issue before releasing that, but it sounds like something that would work fine on the iOS side.

[2016-12-04 19:44] #61 closed

[2016-12-04 19:46] EddyVerbruggen commented on #36
Landed in 6.0.4 on both iOS and Android. Just pass in `showTorchButton : true` as an option of the `scan` function.

[2016-12-04 19:46] #36 closed

[2016-12-04 19:46] #25 closed

[2016-12-04 19:47] EddyVerbruggen commented on #10
Landed in 6.0.4 on both iOS and Android. Just pass in showTorchButton : true as an option of the scan function.

[2016-12-04 19:47] #10 closed

[2016-12-05 08:44] vespino commented on #381
Great job @EddyVerbruggen ! Works like a charm ! I'm only able to test this on Android for now, so maybe I'll get back to you on iOS. Thanks for now.

[2016-12-05 09:18] kashban commented on #264
Latest version 6.0.3 works fine for me. The issue I had with a 4.x version on iOS originated from the bad camera resolution... it seemed to work only in VGA and as such the codes were not sharp but pixelated.

[2016-12-05 10:16] lfreneda commented on #264
as @pke said, version 3.1.0 is reading qr codes very fast..
on lasted version (6.0.3) resolution is not helping D:

sad

[2016-12-05 10:19] alexbuijs opened #383 "Flipping orientation on Android crashes app"
### Expected Behaviour
Flipping the orientation of the device rotates the scan preview window

### Actual Behaviour
Flipping the orientation crashes the app

#### Steps to Reproduce
Invoke scan window and rotate the device

#### Platform and Version (eg. Android 5.0 or iOS 9.2.1)
Android 4.4.4

#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)
Motorola XT1039

#### Cordova CLI version

[2016-12-05 11:07] pke commented on #264
@lfreneda exactly. And so the recommendation still stands to pin 3.1.0 when you only want to scan QR codes - fast. If you need to detect EAN13 or others alongside QR code your users are in for some wait time :(

[2016-12-05 11:08] lfreneda commented on #264
@pke any other issue/bug with v3.1.0?

[2016-12-05 11:52] pke commented on #264
@lfreneda none. For Android 6.0 you have to make sure to ask for Camera permissions. I am using the [cordova Android permissions plugin](https://github.com/NeoLSN/cordova-plugin-android-permission) for that.

[2016-12-05 11:55] jcesarmobile commented on #264
@pke also, on iOS, you have to set the camera usage description

[2016-12-05 11:56] lfreneda commented on #264
@pke @jcesarmobile thank you both :)

[2016-12-05 12:04] pke commented on #264
Correct for that I am using the [custom-config plugin](https://github.com/dpa99c/cordova-custom-config/)

[2016-12-05 15:24] kashban commented on #264
@pke the cordova framework asks for camera permission if necessary. There is no need to program that yourself or use any third party plugins.

[2016-12-05 16:00] jcesarmobile commented on #264
No, that is done by the plugin and was introduced recently. As they want to use a very old version of the plugin they will have to ask for the permission themselves.

[2016-12-05 17:00] KixS commented on #333
Hi Eddy,

Thanks for replying.
I tried with 6.0.4, and it didn't improve the scan on iOS. I tried with 2 devices, a iPhone5S and a iPhone6S and on both there is a meaningful difference between 6.0.4 and 3.0.1. I am not sure how I can help but these are my observations for iPhone5S when the QRcode is almost matched to the green square (the QRcode is 130 characters):

- 3.0.1: almost instantaneous d

[2016-12-05 18:09] samscudder commented on #377
Have the same problem, on an iPhone 5s with 10.1.1. The scanner windows doesn't show up until I click the home key and click on the app icon again. If I tap the scan button twice, I get a "Scan is already in progress" popup, even though the scan windows isn't showing.

[2016-12-05 18:13] samscudder commented on #382
Same here... iPhone 5s iOS 10.1.1

[2016-12-05 19:56] lfreneda commented on #264
@jcesarmobile CAMERA permissions? thanks

[2016-12-06 01:10] jlowe234 commented on #380
What version of the plugin are you using?

[2016-12-06 05:17] RaulGarafulic commented on #372
Please, someone answer this. It's killing me! I can't make it work! 😫😫😫

[2016-12-06 12:47] yoann54 commented on #54
For those who uses meteor I finaly found how to do that by just putting a new beep.ogg (silent of course) in a special top folder that meteor provide.

So first u have to create a folder named cordova-build-override, then inside create a platforms/android/res/raw folder and place ur new beep.ogg inside.

this url gave me the idea : https://documentation.onesignal.com/docs/customize-notification-so

[2016-12-07 11:17] kozuch commented on #383
I have the same problem. Running on Samsung S5 (Android 5.0), cordova-android 5.1.1, cordova-cli 6.1.1. Plugin version: phonegap-plugin-barcodescanner 6.0.4 "BarcodeScanner".

Here is my log:

`
E/AndroidRuntime: FATAL EXCEPTION: Thread-192023
                                                                      Process: cz.csdevelopment.nDemo, PID: 6322

[2016-12-07 12:30] EddyVerbruggen commented on #383
Could you please update the plugin from github (which gives you 6.0.5-dev currently) and see if the crash still occurs?

[2016-12-07 13:55] Mayankjain96 commented on #305
@phoxoey  I am doing the same. Thanks

[2016-12-07 18:06] stanzahk opened #384 "Always on camera"
Hi,
is it possible to have the camera always on when scanning barcodes, and in the callback make some http request for example?

The camera gets released every time a barcode is scanned (in my code).

`var config = {
              "preferFrontCamera" : false,
              "showFlipCameraButton" : false,
              "prompt" : "Place a barcode inside the scan area",
              "orientation" :

[2016-12-10 00:07] aiuliansoft opened #385 "Flashlight default value"
### Expected Behaviour
In case you have hundreds of bar-codes to scan, it's a little bit time consuming to turn the flash on each time. A configuration option like: "TorchModeOn": true, would be great.
### Actual Behaviour
I've noticed that in the version 6.0.4 was added "showTorchButton": true, feature that is perfect, but sometimes not sufficient.
### Reproduce Scenario (including but not limite

[2016-12-12 06:46] andersborgabiro commented on #380
In my case the app crashes when trying to scan a code on iOS. Possibly the same error. I haven't checked yet. Works fine on Android.

[2016-12-13 09:35] amrayoub commented on #291
@prober996 it works perfectly , thank you so much

[2016-12-13 14:15] alsorokin commented on #372
hey @RaulGarafulic can you check if my fix for your issue is working? You can find it here:
https://github.com/phonegap/phonegap-plugin-barcodescanner/pull/386
https://github.com/alsorokin/phonegap-plugin-barcodescanner/tree/ios-encode-update

[2016-12-14 13:21] alsorokin commented on #305
@EddyVerbruggen @macdonst
Hey guys, can you please shed some light on the expected behavior of `encode()` function on Android?
Right now `encode()` on iOS returns an object with a path to an image file with the generated QR code.
On Android I'm getting some another activity opened, which displays the QR code, the text encoded and a "share" button (which is not working, by the way, giving "SD card

[2016-12-14 13:44] alsorokin commented on #305
@phoxoey are you getting another activity opened or just nothing at all?

[2016-12-14 13:58] EddyVerbruggen commented on #305
Hey @alsorokin AFAIK encode on Android has indeed always worked like that (which sucks in my opinion). I've had the need for encoding myself once and simply called some online API which worked way easier.

[2016-12-14 18:46] JeremyKeusters opened #387 "Switch camera and torch button"
Hello everyone,

I'm using this plugin in an Ionic project (it's great, thanks!) but I have an issue. When I try to show the 'switch camera' and 'torch' button, it doesn't work. I have included some code of my controller where I specified these options.

### Expected Behaviour
See a button for switching camera and for the flashlight

### Actual Behaviour
There's no button for switching the camera

[2016-12-14 19:08] EddyVerbruggen commented on #387
Looks like you're passing the options to the Promise result rather than the plugin.. look carefully at the empty `scan()` call.

[2016-12-15 01:13] guerson commented on #19
@tnyeanderson is js-zxing live stream recognition or we have to take a picture and than make de recognition.

[2016-12-15 05:41] alsorokin commented on #305
@EddyVerbruggen thanks for clarifying! I was trying to look into this issue but couldn't reproduce it - I always get the code displayed. So if I understand the reporter correctly, it's specific to Android 5.0.2 and there are no code being displayed.
Unfortunately I don't have any 5.0.2 devices, and I couldn't reproduce it on Android 5.0.1 or 4.4.

[2016-12-15 08:10] alsorokin commented on #382
Hey guys, I've tried to reproduce the issue on iPhone 5 (iOS 10.1.1) and iPad Pro (iOS 10.0.2) with no luck.
My env is:
OS X 10.11.6 (El Capitan)
XCode 8.1
Cordova 6.4.0
cordova-ios platform 4.3.1
Here's a sample of working code:
[code]
Camera appears on the first launch, along with the permission prompt.

Could you please share some more details about your environment and provide the code snippet

[2016-12-15 10:49] samscudder commented on #382
Environment:

OSX 10.11.6 - El Capitan
XCode 8.1 (8B62)
Cordova 5.4.0

Plugins in the project:

	com.darktalker.cordova.screenshot 0.1.3 "Screenshot"
	com.raananw.imageResizer 0.1.2 "ImageResizer"
	cordova-plugin-app-version 0.1.8 "AppVersion"
	cordova-plugin-compat 1.0.0 "Compat"
	cordova-plugin-device 1.0.1 "Device"
	cordova-plugin-device-orientation 1.0.1 "Device Orientation"
	cordova-plugin-di

[2016-12-15 11:30] frateaubets commented on #365
Hi @xgzl87 @daserge did you solve this issue?
Actually I'm working on a simple app (ionic-angularjs-cordova). The reader works fine but the viewer is distorted.
Testing on Android 6.0 (Huawei P8 Lite (EMUI 4.0))
Tested through the ionicview w

That's the function.

$scope.llegirCodi = function () {
	$cordovaBarcodeScanner.scan()
		.then(function(codi){
		console.log(codi + 'read');
	},
	function(e

[2016-12-15 12:05] daserge commented on #365
@frateaubets not yet, but I would [look here](https://github.com/EddyVerbruggen/barcodescanner-lib-aar/blob/master/barcodescanner/src/main/res/layout-ldpi/capture.xml#L45).

[2016-12-15 12:16] alsorokin commented on #382
Tried with cordova@5.4.0, targeting various iOS versions, including 8, and with your `formats` and `orientation` options. No dice, camera opens each time.
I didn't use angular though, but I don't think it can be a source of the problem.

[2016-12-15 12:19] daserge commented on #382
@samscudder can you check if the `if (helpers.hasInternet())` is the reason (is it true on first call)?
Does it reproduce on a blank Cordova app for you?

[2016-12-15 13:13] samscudder commented on #382
@daserge it returns true on first call. I added a `helpers.showMessage` on the line immediately above the `.scan()` and it shows up OK. Just to be on the safe side, I commented out the `if`, with no change in the outcome.

@alsorokin Some more behavior: When I double click the home key, while the task list is showing, I can see the screen changing to the scanner view after maybe 1.5 seconds before

[2016-12-15 13:16] samscudder commented on #382
Just checked the ios platform version: 3.9.2

[2016-12-15 15:26] MiroHibler commented on #223
Hmmm... From what I've seen so far, [cordova-plugin-qrscanner](https://github.com/bitpay/cordova-plugin-qrscanner) is **not** only iOS... or we're talking about different plugins?

[2016-12-15 15:46] pke commented on #223
@MiroHibler that was then added after I posted this in June :) Did you try the plugin? Does it detect QR codes fast?

[2016-12-15 16:11] MiroHibler commented on #223
@pke I'm trying it right now...

[2016-12-16 01:53] xgzl87 commented on #365
@frateaubets not yet！

[2016-12-16 14:54] MiroHibler commented on #223
@pke So, my first impressions:

From what I've understood so far, there's no way of putting scanner view in a `<DIV/>` or whatever container - it's a OS restriction (at least on iOS) and there's virtually nothing we can do about it.

What they've done is they've put scanner view BEHIND the WebView, so you need to set the transparency on `<BODY/>`'s children objects manually in order to see the sca

[2016-12-16 15:47] fiveboxChile commented on #382
Same issue, I check the plist on xcode and show me  this line

Privacy - Camera Usage Description:  string:  To scan barcodes

But when I call scan, nothing happend and recall scan, show me message error Scan is already in progress.

Other thing, when start app, never show me confirm permission to use camera.

[2016-12-16 15:51] daserge commented on #382
@samscudder, @fiveboxChile - quick question - do you deploy from CLI or from XCode?

[2016-12-16 16:07] samscudder commented on #382
@daserge Build and deploy from XCode (after a `cordova prepare ios`)

[2016-12-16 16:53] fiveboxChile commented on #382
Guys !

I try this steps:

Update  cordova to 6.4.0
Add plugin with description
Add platform ios@4.1.3

And Work !!!

Camera start at first touch !

[2016-12-16 16:54] fiveboxChile commented on #382
Sorry I forget,

I have the same problem, but with geolocation plugin. I think with the same steps it fixed. I hope

[2016-12-16 16:55] daserge commented on #382
You probably meant ios@4.3.1

[2016-12-16 16:56] samscudder commented on #382
I'm not sure I can update cordova to 6.4.0 without breaking the app. Are there any incompatibilities?

I'm not the original developer, and not very experienced with cordova, but I do know a bit about javascript/html/css (nearly 20 years experience in web development).

[2016-12-16 16:57] fiveboxChile commented on #382
:D Sorry your right !

[2016-12-16 17:06] daserge commented on #382
@samscudder it's hard to say but you can install cordova locally and test like so:
`mkdir cordova6test && cd cordova6test`
`npm i cordova@6.4.0`
`node node_modules/cordova/bin/cordova create testProject`
`cd testProject`
`node ../node_modules/cordova/bin/cordova platform add ios@4.3.1`
`...add plugins, prepare, setup developmentTeam, etc...`

You can read what has changed in cordova@6 and ios@4 he

[2016-12-16 18:01] JeremyKeusters commented on #387
@EddyVerbruggen Thank you for your answer! Indeed a silly error on my side.. Works like a charm now! :)

[2016-12-16 18:01] #387 closed

[2016-12-17 02:46] carol-braileanu commented on #122
I agree, continuous scanning is indeed needed for real-world scanning apps. Calling the scan() method recursively works, but it has some lag to it and it decreases performance. Any update on this issue?

[2016-12-17 02:48] carol-braileanu commented on #384
This has been requested already: #122

[2016-12-17 09:14] EddyVerbruggen commented on #122
If anyone is willing to implement it: on Android we're using the same library as the NativeScript plugin which I've [added continuous scan support to already](https://github.com/EddyVerbruggen/nativescript-barcodescanner#function-scan-bulk--continuous-mode). All required changes to the native library are already in place, so it should be relatively straightforward to add this to the Cordova plugin

[2016-12-17 10:30] JeremyKeusters opened #388 "Embedded view instead of pop-up"
Hello all,

I have a little question. Currently, the scanner opens as a pop-up that takes some time to load. However, I would actually like to 'embed' the scanner into an HTML page so that it doesn't 'pops-out'.

Is this possible? I saw an issue about this from +- a year ago but I'm not sure if it's still not possible.

Thanks in advance!

-Jérémy

[2016-12-17 10:41] jcesarmobile commented on #388
It's not possible with this plugin
There is another issue open about it, so I'm closing yours as duplicate
https://github.com/phonegap/phonegap-plugin-barcodescanner/issues/223

[2016-12-17 10:41] #388 closed

[2016-12-17 10:42] jcesarmobile commented on #384
Closing as duplicate

[2016-12-17 10:42] #384 closed

[2016-12-19 20:25] fiveboxChile commented on #382
Another tip

In some case, when click to open scanner freeze screen, The solution is change call in angular. Change ng-click for on-touch

PD: My English suck! Sorry :(  I can read very well, but write too bad

[2016-12-20 12:38] daserge commented on #382
@tungcntt619, @samscudder - have you got a chance to check if this is an issue with ng-click, guys?

[2016-12-20 13:06] samscudder commented on #382
I don't think this is an ng-click issue, as the on click function gets triggered.

[2016-12-20 17:22] daserge commented on #382
There was an issue with it that callback was being called twice: https://github.com/driftyco/ionic/issues/1022 - not sure if it was fixed or not.

[2016-12-20 20:01] MilesYM commented on #176
I have the same issue. Did you find a solution to this?

Thanks

[2016-12-21 13:42] ZoRDoK commented on #275
Some bug on 6.0.4 version

[2016-12-21 13:43] ZoRDoK commented on #275
It check cdvMinSdkVersion (gradle param) not a  minSdkVersion set in AndroidManifest.xml

[2016-12-22 06:53] clearride commented on #383
got the same on samsung Crop rectangle does not fit within image data. at com.google.zxing.PlanarYUVLuminanceSource.<init>(PlanarYUVLuminanceSource.java:50) at

[2016-12-22 08:54] clearride commented on #383
{
          "showFlipCameraButton" : true, // iOS and Android
          "showTorchButton" : true,
	     "orientation" : "portrait",
	    "prompt" : "FOCUS CAMERA ON PRODUCT BARCODE"
        }

pass this to scan until a fix is available & also to customize the scanner screen a bit with options

[2016-12-22 08:58] EddyVerbruggen commented on #383
@clearride please see my previous comment - on which version did you see this?

[2016-12-22 09:16] clearride commented on #383
@EddyVerbruggen I am not able to get 6..0.5-dev  , my current plugin ver is 6.0.4, but I'm not held up here as my need is for a portrait view mode only.

[2016-12-22 09:24] EddyVerbruggen commented on #383
@clearride I get that this isn't your problem, but it would help everybody if anyone could test the changes made for this issue in 6.0.5-dev. It's just a matter of specifying `https://github.com/phonegap/phonegap-plugin-barcodescanner` as the plugin source instead of the npm package name.

[2016-12-22 09:41] clearride commented on #383
@EddyVerbruggen got it, looks like it works on my setup & test with samsung galary(android 4.1.1) & Xiomi (android 6)

[2016-12-22 10:42] EddyVerbruggen commented on #383
@clearride That's great, thanks for the test! That reassures me we can push this to npm soon 👍

[2016-12-22 12:37] clearride commented on #381
@EddyVerbruggen confirming - flash & camera flip works for me on android(4/6)(header icon buttons) & ios 10 ( footer bar)

[2016-12-22 15:15] EddyVerbruggen commented on #234
Should be gone with 6.0.5 if you set `resultDisplayDuration: 0`.

[2016-12-22 15:18] EddyVerbruggen commented on #385
With 6.0.5 you can now pass in `torchOn: true` to get this behavior on Android.

[2016-12-22 15:18] #385 closed

[2016-12-22 15:19] EddyVerbruggen commented on #259
With 6.0.5 you can pass in `resultDisplayDuration: 0` to get this behavior on Android.

[2016-12-22 15:19] #259 closed

[2016-12-22 15:20] EddyVerbruggen commented on #219
With 6.0.5 you can pass in `resultDisplayDuration: 0` to suppress the message on Android entirely. You can then show anything you want yourself as the scanner window will hide itself immediately.